@font-face {
  font-family: Regular;
  src: url("/home_last/font/SuisseIntl-Regular-WebS.a55b96fd.woff2");
}
@font-face {
  font-family: Medium;
  src: url("/home_last/font/SuisseIntl-Medium-WebS.5ee1ad41.woff2");
}

$font-size: (
  xsmall: 12px,
  small: 14px,
  base: 16px,
  medium: 20px,
  large: 24px,
  xlarge: 32px,
);
$font-color: (
  wh: #fff,
  medium: #717171,
  dark: #383838,
  naklight: #b9ae91,
  ask: #271100,
  gray: #666,
);

//========= reset ===========
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: map-get($font-color, dark);
}

body {
  background: url("../img/common/lightback.png") center center;
  font-family: Regular;
}
// ========= Common SCSS ==========
.container {
  width: 100%;
  section {
    width: 100%;
  }
}

// ======= header =======
header {
  width: 100%;
  height: 120px;
  background: url("../img/common/lightback.png");
  position: relative;
  .gift_top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background: #222;
    color: map-get($font-color, wh);
    h4 {
      font-size: map-get($font-size, small);
      font-weight: normal;
      cursor: pointer;
      &::after {
        content: "+";
        color: map-get($font-color, wh);
        margin-left: map-get($font-size, medium);
      }
    }
  }
  nav {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    .logo {
      width: 90px;
      img {
        width: 100%;
      }
    }
    .gnb {
      width: 90%;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 5%;
      margin-left: 30px;
      li {
        a {
          font-size: map-get($font-size, base);
          color: map-get($font-color, dark);
        }
        &:last-child {
          .gnb_detail_box {
            .gnb_detail_box_inner {
              .gnb_detail_list {
                padding-left: 0;
                ul {
                  &:nth-of-type(1) {
                    text-align: right;
                    padding-right: 30px;
                    li {
                      &:first-child {
                        padding-bottom: 100px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .gnb_detail_box {
          display: none;
          width: 100vw;
          position: absolute;
          left: 0;
          top: 100%;
          z-index: 99;
          background: #e7ddc9;
          &.active {
            display: block;
          }
          .gnb_detail_box_inner {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            img {
              width: 300px;
            }
            .gnb_detail_list {
              flex: 4;
              display: flex;
              align-items: flex-start;
              padding: 50px;
              ul {
                width: 30%;
                li {
                  line-height: 2em;
                  > a {
                    font-size: map-get($font-size, medium);
                    color: #7e7e7e;
                    position: relative;
                    &::before {
                      content: "";
                      width: 0%;
                      height: 1px;
                      background: #000;
                      position: absolute;
                      bottom: 0;
                      left: 0;
                      transition: 0.3s;
                    }
                    &:hover {
                      &::before {
                        width: 100%;
                      }
                    }
                    &.bold {
                      font-weight: 700;
                    }
                    &.clickItem {
                      color: #000;
                    }
                  }
                }
              }
            }
            .kit_background {
              position: absolute;
              right: 100px;
              bottom: 0px;
            }
          }
        }
      }
    }
    .gnb_right {
      width: 40%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      gap: 25px;
      a {
        color: map-get($font-color, dark);
      }
      .finder {
        position: relative;
        margin-right: 300px;
        font-size: map-get($font-size, base);
        color: map-get($font-color, dark);
        &::before {
          content: "\f002";
          font-family: fontawesome;
        }
        &::after {
          content: "";
          width: 80px;
          height: 1px;
          background: #000;
          position: absolute;
          bottom: 0;
          left: 0;
        }
      }
      .toggle {
        display: none;
      }
    }
  }
}
header.scrollEffect {
  position: fixed;
  z-index: 9999;
  height: 80px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  .gift_top {
    display: none;
  }
}
// 로그인
.login_modal {
  display: none;
}
.login_modal.loginShow {
  display: block;
  width: 600px;
  height: 700px;
  background: #e7ddc9;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
  z-index: 99999;
  .login_inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    padding: 40px;
    > .fas {
      position: absolute;
      top: 20px;
      right: 20px;
    }
    h1 {
      font-size: 40px;
      font-weight: normal;
      margin-bottom: 20px;
    }
    form {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 15px;
      input {
        width: 100%;
        border: none;
        outline: none;
        background: transparent;
        border-bottom: 1px solid map-get($font-color, gray);
        padding-bottom: 2px;
        font-size: map-get($font-size, medium);
        &:nth-of-type(1) {
          margin-bottom: 50px;
        }
        &::placeholder {
          font-size: map-get($font-size, medium);
        }
      }
      > span {
        display: block;
        text-align: right;
        margin-bottom: 50px;
      }
      input[type="submit"] {
        border: 1px solid map-get($font-color, gray);
        padding: 3.2% 0;
        background: #000;
        opacity: 1;
        color: map-get($font-color, wh);
        &:hover {
          background: #111;
          opacity: 0.85;
        }
      }
    }
    h2 {
      font-size: map-get($font-size, large);
      font-weight: normal;
    }
    p {
      font-size: map-get($font-size, base);
      color: map-get($font-color, gray);
      line-height: 1.6em;
    }
    a {
      width: 100%;
      height: 60px;
      line-height: 60px;
      text-align: center;
      border: 1px solid map-get($font-size, gray);
      &:hover {
        background: rgba(225, 225, 225, 0.4);
      }
    }
  }
}
.login_modal.loginShow .container {
  position: fixed;
}
// back to top
.back_to_top {
  display: none;
  opacity: 0.4;
  transition: 0.3s;
}
.back_to_top.btt_show {
  display: block;
  position: fixed;
  bottom: 30px;
  right: 26px;
  width: 50px;
  height: 50px;
  line-height: 60px;
  text-align: center;
  background: #000;
  opacity: 1;
  border-radius: 50%;
  .fas {
    color: map-get($font-color, wh);
    font-size: map-get($font-size, xlarge);
  }
}
// ======== aside SCSS =========
aside#mobile_gnb_list {
  display: none;
}

// cart alarm
#cart_alarm {
  display: none;
  height: 0px;
  transition: all 0.5s;
  position: relative;
  overflow: hidden;
  span {
    color: #fff;
    position: absolute;
    bottom: 20px;
    right: 40px;
  }
}

#cart_alarm.showCart {
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #222;
  opacity: 0.98;
  z-index: 99;
  animation: cartAni 2s ease-out;
}
@keyframes cartAni {
  0% {
    height: 0;
  }
  50% {
    height: 120px;
  }
  100% {
    height: 0;
  }
}

//mini consulting
.query_version {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;
  .fixed_side_icon {
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 100px;
    right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    img {
      width: 50px;
      height: 50px;
    }
  }
  .mini_ask {
    display: none;
  }

  .mini_ask.show {
    display: block;
    width: 360px;
    height: 600px;
    position: fixed;
    bottom: 5%;
    right: 8%;
    background: map-get($font-color, ask);
    color: map-get($font-color, wh);
    opacity: 0.9;
    z-index: 999999px;
    > .fas {
      position: absolute;
      top: 10px;
      right: 10px;
      color: map-get($font-color, dark);
      font-size: map-get($font-size, medium);
    }
    label {
      em {
        color: #f00;
      }
    }
    h1 {
      width: 100%;
      text-align: center;
      font-size: map-get($font-size, medium);
      color: map-get($font-color, dark);
      background: #dfdfdf;
      padding: 3% 0;
    }
    p {
      font-size: map-get($font-size, base);
      line-height: 1.3;
      margin-bottom: 0;
      padding: 3% 3% 0 3%;
      span {
        font-weight: bold;
      }
    }
    .mini_ask_form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 3.5%;
      label {
        margin-bottom: 1.5%;
        font-size: map-get($font-size, base);
      }
      input,
      textarea {
        width: 100%;
        padding: 5px;
        outline: none;
        margin-bottom: 5px;
        &::placeholder {
          font-size: map-get($font-size, large);
        }
      }
      #submitBtn {
        margin-top: 10px;
        padding: 10px 20px;
        border: none;
        transition: 0.3s;
        &:hover {
          background: #767676;
        }
      }
    }
  }
}
// giftTop
.gift_top_box {
  overflow-y: scroll;
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  margin-left: -100%;
  height: 100vh;
  background: #e7ddc9;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  z-index: 99999;
  transition: all 0.5s;
  div {
    padding: 20px 0;
    border-bottom: 1px solid gray;
    width: 90%;
    span {
      display: block;
      margin-bottom: 10px;
      font-size: map-get($font-size, medium);
    }
    &:nth-child(1) {
      height: 100px;
      .fas {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: map-get($font-size, large);
      }
    }
    &:nth-child(2) {
      height: 160px;
      p {
        text-align: left;
        display: flex;
        justify-content: space-between;
        color: rgb(100, 99, 99);
        > span {
          font-size: map-get($font-size, base);
        }
        &:nth-of-type(2) {
          margin-top: 40px;
        }
      }
    }
    &:nth-child(3) {
      border: none;
    }
  }
  .gift_top_list {
    section {
      width: 100%;
      height: 190px;
      padding: 20px 0;
      border-bottom: 1px solid gray;
      span {
        font-size: map-get($font-size, medium);
        display: block;
        margin-bottom: 30px;
      }
      p {
        color: rgb(100, 99, 99);
      }
    }
  }
}
.gift_top_box.show {
  margin-left: 0%;
}
.container.bgOpacity,
header.bgOpacity {
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    background: #222;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 88;
  }
}
.container.bgOpacity {
  position: fixed;
}

// ---------  PC ver  -----------
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home_page1 {
  width: 100%;
  position: relative;
  .page1_inner {
    .aesop {
      position: absolute;
      z-index: 1;
      width: 120px;
      top: 30px;
      left: 30px;
      z-index: 11;
    }
    .banner {
      width: 100%;
      height: 350px;
      position: relative;
      &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.7) 20%,
          transparent
        );
        z-index: 10;
      }
      img {
        z-index: 0;
        width: inherit;
        height: inherit;
        object-fit: cover;
        object-position: center;
        position: relative;
      }
      .banner_heading {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 15%;
        z-index: 11;
        span {
          line-height: 24px;
          color: #fff;
          &.first_span {
            font-size: 20px;
            color: map-get($font-color, wh);
            display: block;
            font-weight: 300;
          }
          &.other {
            margin-top: 20px;
            font-size: 20px;
            color: map-get($font-color, wh);
            display: block;
            font-weight: 400;
            b {
              font-weight: 600;
              display: inline-block;
              margin-bottom: 3px;
            }
          }
          &.texthome {
            margin-top: 10px;
            display: inline-block;
            font-size: 16px;
            color: map-get($font-color, wh);
          }
        }
        > a {
          display: block;
          width: 133px;
          height: 42px;
          text-align: left;
          padding: 10px;
          margin-top: 30px;
          color: map-get($font-color, wh);
          border: 1px solid #fff;
          transition: 0.3s;
          &:hover {
            opacity: 0.6;
          }
        }
      }
    }
  }
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

//section1(slider)================================
.slick-slider {
  position: static;
  .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    width: 90px;
    height: 100px;
    opacity: 0.5;
    transition: all 0.2s ease-in;
    cursor: pointer;
    text-indent: -9999px;
    border: none;
    &:hover {
      opacity: 1;
    }
    &.slick-prev {
      position: absolute;
      left: 0px;
      background: url(../img/icon/arrow_left.png) no-repeat center center;
    }
    &.slick-next {
      position: absolute;
      right: 0px;
      background: url("../img/icon/arrow_right.png") no-repeat;
      background-position: 30px 10px;
    }
  }
}
.best_seller {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  gap: 0;
  padding: 20px;
  .bt_txt {
    width: 15%;
    p {
      display: block;
      text-decoration: underline;
      font-size: map-get($map: $font-size, $key: xlarge);
      color: map-get($map: $font-color, $key: dark);
      letter-spacing: 2;
    }
  }
  .bt_product {
    width: 85%;
    position: relative;
    height: 350px;
    .items {
      width: 100%;
      display: flex;
      flex-direction: row;
      gap: 20px;
      .item.item4 {
        img {
          height: 200px;
          margin-top: 30px;
        }
      }
      .item {
        padding: 20px;
        transition: all 0.5s;
        &:hover {
          transform: scale(1.1);
        }
        img {
          width: 100%;
          height: 230px;
          object-fit: contain;
          object-position: center bottom;
        }
        text-align: center;
        h5 {
          padding: 15px 0 0 0;
          font-weight: bold;
          font-size: map-get($map: $font-size, $key: base);
          color: map-get($map: $font-color, $key: dark);
        }
        span {
          padding: 5px;
          font-size: map-get($map: $font-size, $key: xsmall);
          color: map-get($map: $font-color, $key: dark);
        }
      }
    }
  }
}

//section2================================
.home_page2 {
  margin-top: 0px;
  padding: 100px 0 100px;
  .page2_inner {
    .contents {
      display: flex;
      flex-direction: row;
      margin-bottom: 5%;
      .content_text {
        color: map-get($font-color, dark);
        margin: 0 2%;
        h6 {
          font-size: map-get($font-size, medium);
          margin-bottom: 4%;
        }
        h1 {
          font-size: 28px;
          margin-bottom: 2%;
        }
        p {
          font-size: 20px;
          margin-bottom: 15%;
          line-height: 1.6em;
        }
        a {
          display: block;
          width: 50%;
          padding: 15px;
          font-size: map-get($font-size, base);
          font-weight: bold;
          color: map-get($font-color, dark);
          border: 1px solid map-get($font-color, dark);
          transition: 0.3s;
          &:after {
            content: "";
            background: url(../img/icon/arrow_bk.png) center center/contain
              no-repeat;
            width: 20px;
            height: 10px;
            float: right;
            padding-top: 4px;
          }
          &:hover {
            opacity: 0.6;
          }
        }
      }
    }
    video {
      height: 40%;
      width: 60%;
      object-fit: cover;
    }
  }
}

.contents {
  display: flex;
  flex-direction: row;
  margin-bottom: 5%;
  .content_text {
    color: map-get($font-color, dark);
    margin: 0 2%;
    h6 {
      font-size: map-get($font-size, medium);
      margin-bottom: 4%;
    }
    h1 {
      font-size: 28px;
      margin-bottom: 2%;
    }
    p {
      font-size: 20px;
      margin-bottom: 15%;
      line-height: 1.6em;
    }
    a {
      display: block;
      width: 50%;
      padding: 15px;
      font-size: map-get($font-size, base);
      font-weight: bold;
      color: map-get($font-color, dark);
      border: 1px solid map-get($font-color, dark);
      transition: 0.3s;
      &:after {
        content: "";
        background: url(../img/icon/arrow_bk.png) center center/contain
          no-repeat;
        width: 20px;
        height: 10px;
        float: right;
        padding-top: 4px;
      }
      &:hover {
        opacity: 0.6;
      }
    }
  }
}

.quotation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
  color: map-get($font-color, medium);
  font-weight: bold;
  .quote_text {
    margin-left: 5%;
    font-size: map-get($font-size, xlarge);
  }
  .quote_person {
    font-size: map-get($font-size, large);
  }
}

//section3================================
.home_page3 {
  margin-top: 0px;
  padding: 100px 0 100px;
  .page3_inner {
    .contents {
      img {
        height: 40%;
        width: 60%;
        object-fit: cover;
      }
    }
  }
}
//section4================================
.home_page4 {
  margin-top: 0px;
  padding: 100px 0 100px;
  .page4_inner {
    .contents {
      video {
        height: 40%;
        width: 60%;
        object-fit: cover;
      }
    }
  }
}
// *** footer ***
footer {
  width: 100%;
  background: #222;
  .footer_inner {
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    .footer_contents {
      display: grid;
      grid-template-columns: repeat(4, 1fr) 2fr;
      grid-template-rows: 1fr;
      grid-gap: 10px;
      border-bottom: 1px solid #c6c1c1;
      padding: 10px 10px;
      .footer_content {
        width: 95%;
        h3 {
          font-size: map-get($font-size, medium);
          color: #c6c1c1;
          margin-bottom: 10px;
        }
        p {
          color: #b8b8b8;
          font-size: map-get($font-size, small);
          line-height: 1.3rem;
          border-top: 1px solid #c6c1c1;
          padding: 10px 0px;
          span {
            display: block;
            margin-bottom: 5px;
          }
        }
      }
    }
    > span {
      display: block;
      margin: 10px 0;
      color: #b8b8b8;
      font-size: map-get($font-size, base);
    }
  }
}

/****************************************************************************/
//sec2======================================tablet
@media all and (min-width: 768px) and (max-width: 1200px) {
  // login
  .login_modal.loginShow {
    width: 550px;
    height: 700px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .gift_top_box {
    width: 100%;
  }
  header {
    nav {
      .logo {
        width: 85px;
        img {
          width: 100%;
        }
      }
      .gnb {
        li {
          &:last-child {
            .gnb_detail_box {
              .gnb_detail_box_inner {
                .gnb_detail_list {
                  ul {
                    &:nth-of-type(1) {
                      li {
                        &:first-child {
                          padding-bottom: 80px;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
          .gnb_detail_box {
            .gnb_detail_box_inner {
              gap: 40px;
              img {
                width: 200px;
              }
              .gnb_detail_list {
                padding: 20px;
                ul {
                  flex: 1;
                  li {
                    line-height: 1.7rem;
                    a {
                      font-size: map-get($font-size, base);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .slick-slider {
    position: static;
    margin: 0;
    .slick-arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 2;
      width: 45px;
      height: 100px;
      opacity: 0.5;
      transition: all 0.2s ease-in;
      cursor: pointer;
      text-indent: -9999px;
      border:none;
      &:hover {
        opacity: 1;
      }
      &.slick-prev {
        position: absolute;
        left: -15px;
        background: url(../img/icon/arrow_left.png) no-repeat center center;
      }
      &.slick-next {
        position: absolute;
        right: -15px;
        background: url("../img/icon/arrow_right.png") no-repeat;
        background-position: 10px 10px;
      }
    }
  }
  .container {
    .home_page1 {
      .page1_inner {
        .aesop {
          left: 20px;
          top: 20px;
          width: 100px;
        }
        .banner {
          height: 370px;
          .banner_heading {
            left: 20px;
            margin-top: 30px;
          }
          .banner_heading {
            span {
              &.first_span {
                font-size: 16px;
              }
              &.other {
                font-size: 16px;
                b {
                  font-size: 18px;
                }
              }
              &.texthome {
                font-size: 16px;
              }
            }
          }
        }
        .best_seller {
          flex-direction: column;
          .bt_txt {
            width: 100%;
          }
          .bt_product {
            width: 100%;
            margin: 0;
          }
        }
      }
    }
    .home_page2 {
      margin-top: 20px;
      padding: 0;
      .page2_inner {
        .contents {
          flex-direction: column;
          video {
            width: 100%;
            height: 100%;
          }
          .content_text {
            padding: 5% 0;
          }
          p {
            margin-bottom: 2%;
          }
          a {
            margin-top: 5%;
            width: 30%;
            font-size: 18px;
          }
        }
        .quotation {
          width: 100%;
          padding: 40px 20px;
          .quote_text {
            font-size: map-get($font-size, medium);
            margin-bottom: 10px;
          }
          .quote_person {
            font-size: map-get($font-size, base);
          }
        }
      }
    }
    //sec3======================================
    .home_page3 {
      margin-top: 0px;
      .page3_inner {
        .contents {
          flex-direction: column;
          img {
            width: 100%;
            height: 100%;
          }
          .content_text {
            margin-top: 5%;
          }
          p {
            margin-bottom: 2%;
          }
          a {
            margin-top: 5%;
            margin-bottom: 10%;
            width: 30%;
            font-size: 18px;
          }
        }
        .quotation {
          width: 100%;
          padding: 30px 20px;
          .quote_text {
            font-size: map-get($font-size, medium);
            margin-bottom: 10px;
          }
          .quote_person {
            font-size: map-get($font-size, base);
          }
        }
      }
    }
    //sec4======================================
    .home_page4 {
      margin-top: 0px;
      .page4_inner {
        .contents {
          flex-direction: column;
          video {
            width: 100%;
            height: 100%;
          }
          .content_text {
            padding: 5% 0;
          }
          p {
            margin-bottom: 2%;
          }
          a {
            margin-top: 5%;
            width: 30%;
            font-size: 18px;
          }
        }
        .quotation {
          width: 100%;
          padding: 30px 20px;
          .quote_text {
            font-size: map-get($font-size, medium);
            margin-bottom: 10px;
          }
          .quote_person {
            font-size: map-get($font-size, base);
          }
        }
      }
    }
    footer {
      .footer_inner {
        .footer_contents {
          .footer_content {
            h3 {
              font-size: map-get($font-size, base);
            }
          }
        }
      }
    }
  }
}
// ======================== Mobile version =================================
@media all and (min-width: 320px) and (max-width: 767px) {
  .container.removeContainer {
    display: none;
  }

  //mini consulting
  .query_version {
    .fixed_side_icon {
      z-index: 99;
    }
    .mini_ask.show {
      width: 360px;
      height: 570px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      p {
        font-size: map-get($font-size, small);
        line-height: 1.3em;
        margin-bottom: 5px;
      }
      .mini_ask_form {
        label {
          font-size: map-get($font-size, base);
        }
        input,
        textarea {
          padding: 8px;
        }
        textarea {
          height: 150px;
        }
      }
    }
  }
  // giftTop
  .gift_top_box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-left: -100%;
    height: 100vh;
    background: #e7ddc9;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    z-index: 99999;
    transition: all 0.5s;
    div {
      padding: 20px 0;
      border-bottom: 1px solid gray;
      width: 90%;
      span {
        display: block;
        margin-bottom: 10px;
        font-size: map-get($font-size, medium);
      }
      &:nth-child(1) {
        height: 100px;
        .fas {
          position: absolute;
          top: 20px;
          right: 20px;
          font-size: map-get($font-size, large);
        }
      }
      &:nth-child(2) {
        height: 160px;
        p {
          text-align: left;
          display: flex;
          justify-content: space-between;
          color: rgb(100, 99, 99);
          > span {
            font-size: map-get($font-size, base);
          }
          &:nth-of-type(2) {
            margin-top: 40px;
          }
        }
      }
      &:nth-child(3) {
        border: none;
      }
    }
    .gift_top_list {
      section {
        width: 100%;
        height: 190px;
        padding: 20px 0;
        border-bottom: 1px solid gray;
        span {
          font-size: map-get($font-size, medium);
          display: block;
          margin-bottom: 30px;
        }
        p {
          color: rgb(100, 99, 99);
        }
      }
    }
  }
  .gift_top_box.show {
    margin-left: 0%;
  }
  //login mobile
  .login_modal.loginShow {
    width: 360px;
    height: 570px;
    transform: translate(-50%, -45%);
    z-index: 99999;
    .login_inner {
      gap: 20px;
      padding: 30px;
      h1 {
        font-size: 30px;
      }
      form {
        gap: 10px;
        > span {
          display: block;
          text-align: right;
          margin-bottom: 20px;
        }
      }
      p {
        font-size: map-get($font-size, small);
        color: map-get($font-color, gray);
        line-height: 1.3em;
      }
    }
  }
  // ======== header SCSS ========
  header {
    .gift_top {
      h4 {
        font-size: map-get($font-size, xsmall);
        text-align: center;
        &::after {
          margin-left: 5px;
        }
      }
    }
    nav {
      width: 100%;
      z-index: 2;
      .logo {
        z-index: 99;
        margin-top: 5px;
        margin-left: 2%;
        img {
          width: 70px;
        }
      }
      .gnb {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: flex-start;
        z-index: 2;
        display: none;
        a {
          padding: 2%;
        }
      }
      .gnb_right {
        width: 100%;
        position: absolute;
        right: 2%;
        z-index: 99;
        li {
          a {
            color: map-get($font-color, dark);
          }
        }
        .toggle {
          display: block;
          width: 23px;
          height: 13px;
          position: relative;
          margin-right: 10px;
          span {
            display: block;
            width: 100%;
            height: 2px;
            background: #222;
            position: absolute;
            transition: all 0.3s;
            &:nth-child(1) {
              top: 0px;
            }
            &:nth-child(2) {
              bottom: 0px;
            }
          }
        }
        .active {
          span {
            &:nth-child(1) {
              top: 50%;
              transform: rotate(45deg);
            }
            &:nth-child(2) {
              top: 50%;
              transform: rotate(-45deg);
            }
          }
        }
      }
    }
  }

  // ======== aside SCSS =========
  .gift_top.removeGiftTop {
    height: 0%;
    opacity: 0;
  }
  #nav_detail_list {
    display: none;
  }

  #mobile_gnb_list {
    display: none;
    position: absolute;
    top: -50px;
    left: 0;
    opacity: 0.5;
    transition: all 1s;
  }

  #mobile_gnb_list.showModalGnb {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 130vh;
    top: 0;
    z-index: 8;
    opacity: 1;
    background: #fffef2;
    overflow: hidden;
    .modal_top_gnb_list {
      order: 1;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding-top: 90px;
      > li {
        width: 100%;
        padding: 17px 30px;
        border-bottom: 1px solid map-get($font-color, dark);
        &:first-child {
          border-top: 1px solid map-get($font-color, dark);
        }
        > a {
          color: map-get($font-color, dark);
          font-size: map-get($font-size, medium);
        }
      }
    }
    .gnb_list_bottom {
      order: 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 26px;
      .modal_bottom_mini_list {
        order: 1;
        width: 100%;
        height: 150px;
        margin-bottom: 15px;
        > li {
          display: inline-block;
          width: 49%;
          padding: 10px 0;
          > a {
            position: relative;
            font-size: map-get($font-size, medium);
            color: map-get($font-color, gray);
            &::before {
              content: "";
              width: 0%;
              height: 1px;
              background: map-get($font-color, dark);
              position: absolute;
              bottom: 0;
              left: 0;
              transition: 0.5s;
            }
            &:hover::before {
              width: 100%;
            }
          }
        }
      }
      figure {
        order: 2;
        width: 100%;
        height: 250px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
      figcaption {
        order: 3;
        padding: 5px 0 0 20px;
        span {
          display: block;
          margin-bottom: 10px;
          a {
            font-size: map-get($font-size, medium);
            color: map-get($font-color, gray);
          }
        }
        h3 {
          font-size: map-get($font-size, large);
          font-weight: normal;
          position: relative;
          &::before {
            content: "";
            width: 0%;
            height: 1px;
            background: map-get($font-color, dark);
            position: absolute;
            bottom: 0;
            left: 0;
            transition: 0.5s;
          }
          &:hover::before {
            width: 100%;
          }
        }
      }
    }
  }
  .home_page1 {
    padding-bottom: 0;
    .page1_inner {
      .aesop {
        left: 20px;
        top: 20px;
        width: 80px;
      }
      .banner {
        height: 340px;
        .banner_heading {
          left: 20px;
          margin-top: 30px;
        }
        .banner_heading {
          span {
            &.first_span {
              font-size: 16px;
            }
            &.other {
              font-size: 16px;
              b {
                font-size: 18px;
              }
            }
            &.texthome {
              font-size: 16px;
            }
          }
          > a {
            margin-top: 10px;
          }
        }
      }
      .best_seller {
        flex-direction: column;
        margin: 0;
        margin-top: 20px;
        .bt_txt {
          width: 100%;
          padding: 10px;
        }
        .bt_product {
          width: 100%;
          margin: 0;
          .items {
            .item {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
  .slick-slider {
    position: static;
    margin: 0;
    .slick-arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 2;
      width: 45px;
      height: 100px;
      opacity: 0.5;
      transition: all 0.2s ease-in;
      cursor: pointer;
      text-indent: -9999px;
      border: none;
      &:hover {
        opacity: 1;
      }
      &.slick-prev {
        position: absolute;
        left: 0px;
        background: url(../img/icon/arrow_left.png) no-repeat center center;
      }
      &.slick-next {
        position: absolute;
        right: 0px;
        background: url("../img/icon/arrow_right.png") no-repeat;
        background-position: 10px 10px;
      }
    }
  }
  //=============section Scss==
  .contents {
    display: flex;
    flex-direction: column;
    .content_text {
      h6 {
        margin-top: 5%;
        font-size: map-get($font-size, base);
      }
      h1 {
        font-size: map-get($font-size, medium);
      }
      p {
        font-size: map-get($font-size, base);
        margin-bottom: 5%;
      }
      a {
        width: 55%;
        padding: 15px 10px;
        font-size: map-get($font-size, small);
      }
    }
  }
  // ======section2=======

  .quotation {
    margin-top: 10%;
    width: 100%;
    text-align: center;
    .quote_text {
      font-size: map-get($font-size, base);
      margin-left: 0;
    }
    .quote_person {
      margin-top: 5px;
      font-size: map-get($font-size, small);
    }
  }
  //=======section2-1======
  .home_page2 {
    padding-bottom: 0;
    .page2_inner {
      .contents {
        display: flex;
        flex-direction: column;
        video {
          width: 100%;
          height: 100%;
        }
        .content_text {
          h6 {
            margin-top: 5%;
            font-size: map-get($font-size, base);
          }
          h1 {
            font-size: map-get($font-size, medium);
          }
          p {
            font-size: map-get($font-size, base);
            margin-bottom: 5%;
          }
          a {
            width: 55%;
            padding: 15px 10px;
            font-size: map-get($font-size, small);
            transition: 0.3s;
            &:after {
              content: "";
              background: url(../img/icon/arrow_bk.png) center center/contain
                no-repeat;
              width: 20px;
              height: 10px;
              float: right;
              padding-top: 4px;
            }
            &:hover {
              opacity: 0.6;
            }
          }
        }
      }
    }
  }
  //=======section3======
  .home_page3 {
    padding-bottom: 0;
    .page3_inner {
      .contents {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 100%;
          height: 100%;
        }
        .content_text {
          width: 95%;
          margin-bottom: 8%;
        }
      }
    }
  }
  //=======section4======
  .home_page4 {
    .page4_inner {
      .contents {
        display: flex;
        justify-content: center;
        align-items: center;
        video {
          width: 100%;
          height: 100%;
        }
        .content_text {
          width: 95%;
        }
      }
    }
  }
  //======== footer SCSS =========
  footer {
    .footer_inner {
      .footer_contents {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        border-bottom: none;
        .footer_content {
          &:last-child {
            width: 95%;
            grid-column: 1 / 3;
            padding-top: 15px;
            p {
              line-height: 1.7rem;
            }
          }
        }
      }
      > span {
        display: block;
        color: #b8b8b8;
        font-size: 20px;
        margin: 10px 0;
      }
    }
  }
}
