@font-face {
  font-family: Regular;
  src: url("/home_last/font/SuisseIntl-Regular-WebS.a55b96fd.woff2");
}
@font-face {
  font-family: Medium;
  src: url("/home_last/font/SuisseIntl-Medium-WebS.5ee1ad41.woff2");
}

$font-size: (
  xsmall: 12px,
  small: 14px,
  base: 16px,
  medium: 20px,
  large: 24px,
  xlarge: 32px,
);
$font-color: (
  wh: #fff,
  medium: #717171,
  dark: #383838,
  naklight: #b9ae91,
  quotation: #717171,
  ask: #271100,
  gray: #666,
);
$background-color: (
  lightback: #222,
  brownbottle: rgba(39, 17, 0, 0.47),
);
//========= reset ===========
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: map-get($font-color, dark);
}
body {
  background: url(../img/brandstory/midback.png) center center;
}
//======== common CSS =========
.container {
  width: 100%;
  section {
    width: 100%;
    height: auto;
  }
}
// cart
#cart_alarm {
  display: none;
  height: 0px;
  transition: all 0.5s;
  position: relative;
  overflow: hidden;
  span {
    color: #fff;
    position: absolute;
    bottom: 20px;
    right: 40px;
  }
}
#cart_alarm.showCart {
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #222;
  opacity: 0.98;
  animation: cartAni 2s ease-out;
}
@keyframes cartAni {
  0% {
    height: 0;
  }
  50% {
    height: 145px;
  }
  100% {
    height: 0;
  }
}
.query_version {
  position: fixed;
  width: 100%;
  height: 100%;
  .fixed_side_icon {
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 100px;
    right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    img {
      width: 50px;
      height: 50px;
    }
  }
  .mini_ask {
    display: none;
  }

  .mini_ask.show {
    display: block;
    width: 370px;
    height: 590px;
    position: fixed;
    bottom: 5%;
    right: 8%;
    background: map-get($font-color, ask);
    color: map-get($font-color, wh);
    opacity: 0.9;
    z-index: 9999px;
    > .fas {
      position: absolute;
      top: 10px;
      right: 10px;
      color: map-get($font-color, dark);
      font-size: map-get($font-size, medium);
    }
    label {
      em {
        color: #f00;
      }
    }
    h1 {
      width: 100%;
      text-align: center;
      font-size: map-get($font-size, medium);
      color: map-get($font-color, dark);
      background: #dfdfdf;
      padding: 3% 0;
    }
    p {
      font-size: map-get($font-size, base);
      line-height: 1.3;
      margin-bottom: 0;
      padding: 3% 3% 0 3%;
      span {
        font-weight: bold;
      }
    }
    .mini_ask_form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 3.5%;
      label {
        margin-bottom: 1.5%;
        font-size: map-get($font-size, base);
      }
      input,
      textarea {
        width: 100%;
        padding: 5px;
        outline: none;
        margin-bottom: 5px;
        &::placeholder {
          font-size: map-get($font-size, large);
        }
      }
      #submitBtn {
        margin-top: 10px;
        padding: 7px 0;
        border: none;
        transition: 0.3s;
        &:hover {
          background: #767676;
        }
      }
    }
  }
}

// ======== header SCSS =========
header {
  width: 100%;
  height: 120px;
  background: url("../img/common/lightback.png");
  position: relative;
  .gift_top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background: #222;
    color: map-get($font-color, wh);
    h4 {
      font-size: map-get($font-size, small);
      font-weight: normal;
      cursor: pointer;
      &::after {
        content: "+";
        color: map-get($font-color, wh);
        margin-left: map-get($font-size, medium);
      }
    }
  }
  nav {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    .logo {
      width: 90px;
      img {
        width: 100%;
      }
    }
    .gnb {
      width: 90%;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 5%;
      margin-left: 30px;
      li {
        a {
          font-size: map-get($font-size, base);
          color: map-get($font-color, dark);
        }
        &:last-child {
          .gnb_detail_box {
            .gnb_detail_box_inner {
              .gnb_detail_list {
                padding-left: 0;
                ul {
                  &:nth-of-type(1) {
                    text-align: right;
                    padding-right: 30px;
                    li {
                      &:first-child {
                        padding-bottom: 100px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .gnb_detail_box {
          display: none;
          width: 100vw;
          position: absolute;
          left: 0;
          top: 100%;
          z-index: 99;
          background: #e7ddc9;
          &.active {
            display: block;
          }
          .gnb_detail_box_inner {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            img {
              width: 300px;
            }
            .gnb_detail_list {
              flex: 4;
              display: flex;
              align-items: flex-start;
              padding: 50px;
              ul {
                width: 30%;
                li {
                  line-height: 2em;
                  > a {
                    font-size: map-get($font-size, medium);
                    color: #7e7e7e;
                    position: relative;
                    &::before {
                      content: "";
                      width: 0%;
                      height: 1px;
                      background: #000;
                      position: absolute;
                      bottom: 0;
                      left: 0;
                      transition: 0.3s;
                    }
                    &:hover {
                      &::before {
                        width: 100%;
                      }
                    }
                    &.bold {
                      font-weight: 700;
                    }
                    &.clickItem {
                      color: #000;
                    }
                  }
                }
              }
            }
            .kit_background {
              position: absolute;
              right: 100px;
              bottom: 0px;
            }
          }
        }
      }
    }
    .gnb_right {
      width: 40%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      gap: 25px;
      a {
        color: map-get($font-color, dark);
      }
      .finder {
        position: relative;
        margin-right: 300px;
        font-size: map-get($font-size, base);
        color: map-get($font-color, dark);
        &::before {
          content: "\f002";
          font-family: fontawesome;
        }
        &::after {
          content: "";
          width: 80px;
          height: 1px;
          background: #000;
          position: absolute;
          bottom: 0;
          left: 0;
        }
      }
      .toggle {
        display: none;
      }
    }
  }
}
header.scrollEffect {
  position: fixed;
  top: 0;
  z-index: 9999;
  height: 80px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  .gift_top {
    display: none;
  }
}
// 로그인
.login_modal {
  display: none;
}
.login_modal.loginShow {
  display: block;
  width: 600px;
  height: 700px;
  background: #e7ddc9;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
  z-index: 100;
  .login_inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    padding: 40px;
    > .fas {
      position: absolute;
      top: 20px;
      right: 20px;
    }
    h1 {
      font-size: 40px;
      font-weight: normal;
      margin-bottom: 20px;
    }
    form {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 15px;
      input {
        width: 100%;
        border: none;
        outline: none;
        background: transparent;
        border-bottom: 1px solid map-get($font-color, gray);
        padding-bottom: 2px;
        font-size: map-get($font-size, medium);
        &:nth-of-type(1) {
          margin-bottom: 50px;
        }
        &::placeholder {
          font-size: map-get($font-size, medium);
        }
      }
      > span {
        display: block;
        text-align: right;
        margin-bottom: 50px;
      }
      input[type="submit"] {
        border: 1px solid map-get($font-color, gray);
        padding: 3.2% 0;
        background: #000;
        opacity: 1;
        color: map-get($font-color, wh);
        &:hover {
          background: #111;
          opacity: 0.85;
        }
      }
    }
    h2 {
      font-size: map-get($font-size, large);
      font-weight: normal;
    }
    p {
      font-size: map-get($font-size, base);
      color: map-get($font-color, gray);
      line-height: 1.6em;
    }
    a {
      width: 100%;
      height: 60px;
      line-height: 60px;
      text-align: center;
      border: 1px solid map-get($font-size, gray);
      &:hover {
        background: rgba(225, 225, 225, 0.4);
      }
    }
  }
}
.login_modal.loginShow .container {
  position: fixed;
}
// back to top
.back_to_top {
  display: none;
  opacity: 0.4;
  transition: 0.3s;
}
.back_to_top.btt_show {
  display: block;
  position: fixed;
  bottom: 30px;
  right: 26px;
  width: 50px;
  height: 50px;
  line-height: 60px;
  text-align: center;
  background: #000;
  opacity: 1;
  border-radius: 50%;
  .fas {
    color: map-get($font-color, wh);
    font-size: map-get($font-size, xlarge);
  }
}
#cart_alarm {
  display: none;
  height: 0px;
  transition: all 0.5s;
  position: relative;
  overflow: hidden;
  z-index: 999999;
  span {
    color: #fff;
    position: absolute;
    bottom: 20px;
    right: 40px;
  }
}

#cart_alarm.showCart {
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #222;
  opacity: 0.98;
  animation: cartAni 2s ease-out;
}
@keyframes cartAni {
  0% {
    height: 0;
  }
  50% {
    height: 120px;
  }
  100% {
    height: 0;
  }
}


.gift_top_box {
  overflow-y: scroll;
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  margin-left: -100%;
  height: 100vh;
  background: #e7ddc9;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  z-index: 9999999;
  transition: all 0.5s;
  div {
    padding: 20px 0;
    border-bottom: 1px solid gray;
    width: 80%;
    span {
      display: block;
      margin-bottom: 10px;
      font-size: map-get($font-size, medium);
    }

    &:nth-child(1) {
      height: 100px;
      .fas {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: map-get($font-size, large);
      }
    }
    &:nth-child(2) {
      height: 170px;
      p {
        text-align: left;
        display: flex;
        justify-content: space-between;
        color: rgb(100, 99, 99);
        > span {
          font-size: map-get($font-size, base);
        }
        &:nth-of-type(2) {
          margin-top: 40px;
        }
      }
    }
    &:nth-child(3) {
      border: none;
    }
  }
  .gift_top_list {
    section {
      width: 100%;
      height: 170px;
      padding: 20px 0;
      border-bottom: 1px solid gray;
      span {
        font-size: map-get($font-size, medium);
        display: block;
        margin-bottom: 30px;
      }
      p {
        color: rgb(100, 99, 99);
      }
    }
  }
}
.gift_top_box.show {
  margin-left: 0%;
  z-index: 9999;
}
.container.bgOpacity,
header.bgOpacity {
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    background: #222;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 88;
  }
}
.container.bgOpacity {
  position: fixed;
}

// ======== aside SCSS =========

#mobile_gnb_list {
  display: none;
}

// ---------  PC ver  -----------
// *** Section 1 ***
#brand-page1 {
  position: relative;
  width: 100%;
  height: 100%;
  .brand1-up {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .b1-left {
    width: calc(50% - 90px);
    margin-left: 40px;
  }
  .b1-logo {
    img {
      width: 8.13em;
      height: 2.81em;
    }
  }
  .story-txt {
    span.bolder {
      display: block;
      margin: 35px 0;
      font-size: map-get($map: $font-size, $key: large);
      color: map-get($map: $font-color, $key: dark);
    }
    p {
      font-size: map-get($map: $font-size, $key: medium);
      color: map-get($map: $font-color, $key: dark);
      line-height: 2.5rem;
    }
  }
  .b1-right {
    width: 50%;
    img {
      width: 100%;
    }
  }
  .brand1-down {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 133px;
    .bd1-left {
      width: 40%;
      img {
        width: 100%;
      }
    }
    .bd1-right {
      width: 60%;
      margin-left: 70px;
      margin-right: 140px;
      .story-txt {
        span.bolder {
          display: block;
          margin-top: 0;
          font-size: map-get($map: $font-size, $key: large);
          color: map-get($map: $font-color, $key: dark);
          line-height: 2.5rem;
        }
        p {
          font-size: map-get($map: $font-size, $key: medium);
          color: map-get($map: $font-color, $key: dark);
        }
      }
    }
  }
}
// *** Section 2 ***
#brand-page2 {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 155px;
  .brand2-up {
    display: flex;
    justify-content: space-between;
    gap: 80px;
    margin-left: 40px;
    .b2-left {
      margin-top: 0;
      width: 30%;
      .story-txt {
        margin-bottom: 35px;
        font-size: map-get($map: $font-size, $key: large);
        color: map-get($map: $font-color, $key: dark);
        line-height: 2.5rem;
      }
    }
    .b2-right {
      width: 70%;

      img {
        width: 100%;
      }
    }
  }
  .brand2-down {
    display: flex;
    justify-content: flex-start;
    margin-left: 40px;
    margin-top: 142px;
    .bd2-left {
      br {
        display: block;
      }
      width: 60%;
      margin-bottom: 35px;
      span.bolder {
        line-height: 2.5rem;
        display: block;
        margin-top: 0;
        font-size: map-get($map: $font-size, $key: large);
        color: map-get($map: $font-color, $key: dark);
      }
      p {
        line-height: 2.5em;
        font-size: map-get($map: $font-size, $key: medium);
        color: map-get($map: $font-color, $key: dark);
      }
    }
  }

  .bd2-right {
    width: 40%;
    margin-left: 181px;
    img {
      width: 100%;
    }
  }
}
// *** Section 3 ***
#brand-page3 {
  width: 100%;
  margin: 180px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .b3-center {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // height: 100vh;
    .br-slidercon {
      position: relative;
      width: 80%;
      margin: 0 auto;
      .br-slide {
        width: 100%;
        height: 100%;
        display: flex;
        object-fit: cover;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      // Slick Slider
      .slick-prev {
        font-size: 0;
        border: none;
        position: absolute;
        top: 50%;
        left: -3%;
        z-index: 9;
        transform: translateY(-50%);
        width: 27px;
        height: 76px;
        background: url("../img/icon/arrow_left.png") no-repeat center center;
        cursor: pointer;
        opacity: 0.6;
        &:hover {
          opacity: 1;
          background: #8d8d8d;
        }
      }
      .slick-next {
        font-size: 0;
        border: none;
        position: absolute;
        top: 50%;
        right: -3%;
        z-index: 9;
        transform: translateY(-50%);
        width: 27px;
        height: 76px;
        background: url("../img/icon/arrow_right.png") no-repeat center center;
        cursor: pointer;
        opacity: 0.6;
        &:hover {
          opacity: 1;
        }
      }
      .slick-dots li {
        display: inline;
      }

      .slick-dots li.slick-active button {
        background: #333;
      }

      .slick-dots li button {
        margin-top: 3%;
        font-size: 0;
        border: none;
        width: calc(100% / 4);
        height: 2px;
        background: #aaa;
      }
    }

    .center-txt {
      text-align: center;
      width: 100%;
      margin: 150px 0 100px 0;
      font-weight: bold;
      text-align: center;
      p.b-top {
        font-size: map-get($map: $font-size, $key: xlarge);
        color: map-get($map: $font-color, $key: medium);
        span {
          color: map-get($map: $font-color, $key: naklight);
        }
      }
      p.b-under {
        font-size: map-get($map: $font-size, $key: large);
        color: map-get($map: $font-color, $key: medium);
      }
    }
  }
}

.story-btn {
  width: 300px;
  height: 60px;
  border: 1px solid map-get($map: $font-color, $key: dark);
  color: black;
  margin-top: 167px;
  font-size: map-get($map: $font-size, $key: base);
  background-color: transparent;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    :nth-child(1) {
      display: none;
    }
    :nth-child(2) {
      display: block;
    }
    color: #8d8d8d;
    border: 1px solid #8d8d8d;
  }
  :nth-child(2) {
    display: none;
  }
}

// *** footer ***
footer {
  width: 100%;
  height: 260px;
  background: #222;
  .footer_inner {
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    .footer_contents {
      display: grid;
      grid-template-columns: repeat(4, 1fr) 2fr;
      grid-template-rows: 190px;
      grid-gap: 10px;
      border-bottom: 1px solid #c6c1c1;
      padding: 10px 10px;
      .footer_content {
        width: 95%;
        h3 {
          font-size: map-get($font-size, medium);
          color: #c6c1c1;
          margin-bottom: 10px;
        }
        p {
          color: #b8b8b8;
          font-size: map-get($font-size, small);
          line-height: 1.3rem;
          border-top: 1px solid #c6c1c1;
          padding: 10px 0px;
          span {
            display: block;
            margin-bottom: 5px;
          }
        }
      }
    }
    > span {
      display: block;
      margin: 10px 0;
      color: #b8b8b8;
      font-size: map-get($font-size, base);
    }
  }
}

//tablet
// ----- Tablet ver -----
@media all and (min-width: 768px) and (max-width: 960px) {
  header {
    nav {
      .logo {
        width: 85px;
        img {
          width: 100%;
        }
      }
      .gnb {
        li {
          &:last-child {
            .gnb_detail_box {
              .gnb_detail_box_inner {
                .gnb_detail_list {
                  ul {
                    &:nth-of-type(1) {
                      li {
                        &:first-child {
                          padding-bottom: 80px;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
          .gnb_detail_box {
            .gnb_detail_box_inner {
              gap: 40px;
              img {
                width: 200px;
              }
              .gnb_detail_list {
                padding: 20px;
                ul {
                  flex: 1;
                  li {
                    line-height: 1.7rem;
                    a {
                      font-size: map-get($font-size, base);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .gift_top_box {
    width: 100%;
  }
  .container {
    background: url(../img/brandstory/midback.png) center center;
    width: 100%;
    section {
      width: 100%;
      height: auto;
    }
  }
  // login
  .login_modal.loginShow {
    width: 550px;
    height: 700px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .b1-logo {
    display: none;
  }
  .home_page1 {
    width: 100%;
    height: 80vh;
    .page1_inner {
      > span {
        display: inline-block;
        width: 100%;
        height: 60px;
        line-height: 60px;
        text-align: center;
        font-size: map-get($font-size, medium);
        &::before {
          content: "<";
          margin-right: 10px;
        }
        &::after {
          content: ">";
          margin-left: 10px;
        }
      }
      .banner {
        width: 100%;
        height: 467px;
        position: relative;
        img {
          width: inherit;
          height: inherit;
          object-fit: cover;
          object-position: center;
          position: relative;
          &::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: linear-gradient(to right, #000, transparent);
          }
        }
        .banner_heading {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 15%;
          > span {
            color: map-get($font-color, wh);
            font-size: map-get($font-size, medium);
          }
          p {
            color: map-get($font-color, wh);
            font-size: map-get($font-size, large);
            margin: 26px 0 5px 0;
            span {
              display: block;
              font-weight: bold;
            }
          }
          > a {
            display: block;
            width: 133px;
            height: 42px;
            text-align: left;
            padding: 10px;
            margin-top: 24px;
            color: map-get($font-color, wh);
            border: 1px solid #fff;
            &::after {
              content: "";
              font-family: fontawesome;
            }
          }
        }
      }
    }
  }
  // mini consulting
  .query_version {
    .mini_ask {
      width: 40%;
      height: 60%;
      .fixed_side_icon {
        width: 45px;
        height: 45px;
      }
    }
  }
  // *** tablet Section 1 ***
  #brand-page1 {
    position: relative;
    width: 100%;
    height: auto;
    .brand1-up {
      width: 100%;
      height: 500%;
      margin-top: 0px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }
    .b1-right {
      width: 100%;
      height: 200%;
    }
    .b1-left {
      width: 100%;
      margin-left: 0px;
      order: 2;
    }
    .b1-logo {
      img {
        width: 8.13em;
        height: 2.81em;
      }
    }
    .story-txt {
      padding: 60px;
      span.bolder {
        display: block;
        margin-top: 0px;
        font-size: map-get($map: $font-size, $key: large);
        color: map-get($map: $font-color, $key: dark);
      }
      p {
        font-size: map-get($map: $font-size, $key: base);
        color: map-get($map: $font-color, $key: dark);
      }
    }
    .b1-right {
      width: 100%;
      order: 1;
      img {
        width: 100%;
      }
    }
    .brand1-down {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      // padding: 0 60px;
      margin-top: 150px;
      .bd1-left {
        width: 100%;
        margin-left: 0px;
        img {
          width: 100%;
        }
      }
      .bd1-right {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        .story-txt {
          br {
            display: none;
          }
          margin: 0;
          padding: 60px;
        }
        a.story-btn {
          width: 50%;
          height: 60px;
          border: 1px solid map-get($map: $font-color, $key: dark);
          margin-top: 30px;
          font-size: map-get($map: $font-size, $key: base);
          background-color: transparent;
          font-weight: bold;
          display: flex;
          align-items: center;
          justify-content: space-between;
          cursor: pointer;
        }
      }
    }
  }
  // section page2
  #brand-page2 {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 0px;
    .brand2-up {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-left: 0px;
      .b2-left {
        width: 100%;
        margin-top: 0px;
        margin-bottom: 30px;
        .story-txt {
          padding: 60px;
          margin-bottom: 0;
          p {
            br {
              display: none;
            }
            font-size: map-get($map: $font-size, $key: large);
            color: map-get($map: $font-color, $key: dark);
          }
          a.story-btn {
            width: 50%;
            height: 60px;
            border: 1px solid map-get($map: $font-color, $key: dark);
            margin-top: 30px;
            font-size: map-get($map: $font-size, $key: base);
            background-color: transparent;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
          }
        }
      }
      .b2-right {
        width: 100%;
        img {
          width: 100%;
        }
      }
    }
    .brand2-down {
      padding: 60px;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      margin-left: 0px;
      margin-top: 0px;
      .bd2-left {
        width: 100%;
        p {
          font-size: map-get($map: $font-size, $key: base);
          color: map-get($map: $font-color, $key: dark);
        }
        a.story-btn {
          width: 50%;
          height: 60px;
          border: 1px solid map-get($map: $font-color, $key: dark);
          margin-top: 30px;
          font-size: map-get($map: $font-size, $key: base);
          background-color: transparent;
          font-weight: bold;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 20px 55px 20px 23px;
          cursor: pointer;
        }
      }
    }
    .bd2-right {
      width: 100%;
      margin: 40px 0 50px;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  // section page3
  #brand-page3 {
    margin-top: 0px;
    margin-bottom: 50px;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    .b3-center {
      margin-top: 0;
      .br-slidercon {
        width: 90%;
        padding: 10px;
      }
      img {
        width: 100%;
      }
      .brBtn-wrap {
        position: absolute;
        z-index: 9999;
        .br-prev {
          width: 35px;
          height: 72px;
          opacity: 0.7;
          transition: all 0.2s ease-in;
          z-index: 9999;
        }
        .br-prev:hover,
        .br-next:hover {
          opacity: 2;
        }
        .br-next {
          width: 35px;
          height: 72px;
          opacity: 0.7;
          transition: all 0.2s ease-in;
          z-index: 9999;
        }
      }
    }
    .center-txt {
      br {
        display: none;
      }
      font-weight: bold;
      text-align: center;
      padding: 0 30px;
      margin: 130px 0;
      p.b-top {
        padding-bottom: 30px;
        font-size: map-get($map: $font-size, $key: xlarge);
        color: map-get($map: $font-color, $key: medium);
        span {
          color: map-get($map: $font-color, $key: naklight);
        }
      }
      p.b-under {
        margin-top: 10px;
        font-weight: 800;
        font-size: map-get($map: $font-size, $key: small);
        color: map-get($map: $font-color, $key: medium);
      }
    }
  }
  // footer
  footer {
    .footer_inner {
      .footer_contents {
        .footer_content {
          h3 {
            font-size: map-get($font-size, base);
          }
        }
      }
    }
  }
}

// ======================== Mobile version =================================

@media all and (min-width: 320px) and (max-width: 767px) {
  .container.removeContainer {
    display: none;
  }

  //mini consulting
  .query_version {
    .fixed_side_icon {
      z-index: 99;
    }
    .mini_ask.show {
      width: 360px;
      height: 550px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      p {
        font-size: map-get($font-size, small);
        line-height: 1.3em;
        margin-bottom: 5px;
      }
      .mini_ask_form {
        label {
          font-size: map-get($font-size, base);
        }
        input,
        textarea {
          padding: 8px;
        }
        textarea {
          height: 150px;
        }
      }
    }
  }
  .gift_top_box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-left: -100%;
    height: 150vh;
    background: #e7ddc9;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    z-index: 99;
    transition: all 0.5s;
    div {
      padding: 20px 0;
      border-bottom: 1px solid gray;
      width: 90%;
      span {
        display: block;
        margin-bottom: 10px;
        font-size: map-get($font-size, medium);
      }

      &:nth-child(1) {
        height: 100px;
        .fas {
          position: absolute;
          top: 20px;
          right: 20px;
          font-size: map-get($font-size, large);
        }
      }
      &:nth-child(2) {
        height: 160px;
        p {
          text-align: left;
          display: flex;
          justify-content: space-between;
          color: rgb(100, 99, 99);
          > span {
            font-size: map-get($font-size, base);
          }
          &:nth-of-type(2) {
            margin-top: 40px;
          }
        }
      }
      &:nth-child(3) {
        border: none;
      }
    }
    .gift_top_list {
      section {
        width: 100%;
        height: 170px;
        padding: 20px 0;
        border-bottom: 1px solid gray;
        span {
          font-size: map-get($font-size, medium);
          display: block;
          margin-bottom: 30px;
        }
        p {
          color: rgb(100, 99, 99);
        }
      }
    }
  }
  .gift_top_box.show {
    margin-left: 0%;
  }

  //login mobile
  .login_modal.loginShow {
    width: 360px;
    height: 570px;
    transform: translate(-50%, -45%);
    .login_inner {
      gap: 20px;
      padding: 30px;
      h1 {
        font-size: 30px;
      }
      form {
        gap: 10px;
        > span {
          display: block;
          text-align: right;
          margin-bottom: 20px;
        }
      }
      p {
        font-size: map-get($font-size, small);
        color: map-get($font-color, gray);
        line-height: 1.3em;
      }
    }
  }
  // ======== header SCSS ========
  header {
    .gift_top {
      h4 {
        font-size: map-get($font-size, xsmall);
        text-align: center;
        &::after {
          margin-left: 5px;
        }
      }
    }
    nav {
      width: 100%;
      z-index: 2;
      .logo {
        z-index: 99;
        margin-top: 5px;
        margin-left: 2%;
        img {
          width: 70px;
        }
      }
      .gnb {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: flex-start;
        z-index: 2;
        display: none;
        a {
          padding: 2%;
        }
      }
      .gnb_right {
        width: 100%;
        position: absolute;
        right: 2%;
        z-index: 99;
        li {
          a {
            color: map-get($font-color, dark);
          }
        }
        .toggle {
          display: block;
          width: 23px;
          height: 13px;
          position: relative;
          margin-right: 10px;
          span {
            display: block;
            width: 100%;
            height: 2px;
            background: #222;
            position: absolute;
            transition: all 0.3s;
            &:nth-child(1) {
              top: 0px;
            }
            &:nth-child(2) {
              bottom: 0px;
            }
          }
        }
        .active {
          span {
            &:nth-child(1) {
              top: 50%;
              transform: rotate(45deg);
            }
            &:nth-child(2) {
              top: 50%;
              transform: rotate(-45deg);
            }
          }
        }
      }
    }
  }

  // ======== aside SCSS =========
  .gift_top.removeGiftTop {
    height: 0%;
    opacity: 0;
  }
  #nav_detail_list {
    display: none;
  }

  #mobile_gnb_list {
    position: absolute;
    top: -50px;
    left: 0;
    // opacity: 0.5;
    transition: all 1s;
  }
  #mobile_gnb_list.showModalGnb {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 130vh;
    top: 0;
    z-index: 8;
    opacity: 1;
    background: #fffef2;
    overflow: hidden;
    .modal_top_gnb_list {
      order: 1;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding-top: 90px;
      > li {
        width: 100%;
        padding: 17px 30px;
        border-bottom: 1px solid map-get($font-color, dark);
        &:first-child {
          border-top: 1px solid map-get($font-color, dark);
        }
        > a {
          color: map-get($font-color, dark);
          font-size: map-get($font-size, medium);
        }
      }
    }

    .gnb_list_bottom {
      order: 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 26px;
      .modal_bottom_mini_list {
        order: 1;
        width: 100%;
        margin-bottom: 15px;
        > li {
          display: inline-block;
          width: 49%;
          padding: 10px 0;
          > a {
            position: relative;
            font-size: map-get($font-size, medium);
            color: map-get($font-color, gray);
            &::before {
              content: "";
              width: 0%;
              height: 1px;
              background: map-get($font-color, dark);
              position: absolute;
              bottom: 0;
              left: 0;
              transition: 0.5s;
            }
            &:hover::before {
              width: 100%;
            }
          }
        }
      }
      figure {
        order: 2;
        width: 100%;
        height: 250px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
      figcaption {
        order: 3;
        padding: 5px 0 0 20px;
        span {
          display: block;
          margin-bottom: 10px;
          a {
            font-size: map-get($font-size, medium);
            color: map-get($font-color, gray);
          }
        }
        h3 {
          font-size: map-get($font-size, large);
          font-weight: normal;
          position: relative;
          &::before {
            content: "";
            width: 0%;
            height: 1px;
            background: map-get($font-color, dark);
            position: absolute;
            bottom: 0;
            left: 0;
            transition: 0.5s;
          }
          &:hover::before {
            width: 100%;
          }
        }
      }
    }
  }

  .container {
    background: url(../img/brandstory/midback.png) center center;
    width: 100%;
    section {
      width: 100%;
      height: auto;
    }
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .b1-logo {
    display: none;
  }
  .home_page1 {
    width: 100%;
    height: 80vh;
    .page1_inner {
      > span {
        display: inline-block;
        width: 100%;
        height: 60px;
        line-height: 60px;
        text-align: center;
        font-size: map-get($font-size, medium);
        &::before {
          content: "<";
          margin-right: 10px;
        }
        &::after {
          content: ">";
          margin-left: 10px;
        }
      }
      .banner {
        width: 100%;
        height: 467px;
        position: relative;
        img {
          width: inherit;
          height: inherit;
          object-fit: cover;
          object-position: center;
          position: relative;
          &::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: linear-gradient(to right, #000, transparent);
          }
        }
        .banner_heading {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 15%;
          > span {
            color: map-get($font-color, wh);
            font-size: map-get($font-size, medium);
          }
          p {
            color: map-get($font-color, wh);
            font-size: map-get($font-size, large);
            margin: 26px 0 5px 0;
            span {
              display: block;
              font-weight: bold;
            }
          }
          > a {
            display: block;
            width: 133px;
            height: 42px;
            text-align: left;
            padding: 10px;
            margin-top: 24px;
            color: map-get($font-color, wh);
            border: 1px solid #fff;
            &::after {
              content: "";
              font-family: fontawesome;
            }
          }
        }
      }
    }
  }

  // ---------  Brandstory  -----------
  // section page1
  #brand-page1 {
    position: relative;
    width: 100%;
    height: 100%;
    .brand1-up {
      margin-top: 0px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      padding: 0 16px;
      .b1-left {
        width: 100%;
        margin-left: 0px;
        order: 2;
      }
      .b1-logo {
        img {
          width: 8.13em;
          height: 2.81em;
        }
      }
      .story-txt {
        line-height: 1.7em;
        margin-top: 250px;
        span.bolder {
          display: block;
          margin: 35px 0;
          font-size: map-get($map: $font-size, $key: large);
          color: map-get($map: $font-color, $key: dark);
        }
        p {
          font-size: map-get($map: $font-size, $key: base);
          color: map-get($map: $font-color, $key: dark);
          br {
            display: none;
          }
        }
      }
      .b1-right {
        width: 100%;
        order: 1;
        img {
          width: 100%;
          height: 200%;
        }
      }
    }
    .brand1-down {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      padding: 0 16px;
      margin-top: 150px;
      .bd1-left {
        width: 100%;
        margin-left: 0px;
        img {
          width: 100%;
        }
      }
      .bd1-right {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        .story-txt {
          br {
            display: none;
          }
          padding: 5px;
          margin-top: 20px;
          span.bolder {
            display: block;
            font-size: map-get($map: $font-size, $key: large);
            color: map-get($map: $font-color, $key: dark);
          }
          p {
            line-height: 1.7em;
            font-size: map-get($map: $font-size, $key: base);
            color: map-get($map: $font-color, $key: dark);
          }
        }
        a.story-btn {
          width: 100%;
          height: 60px;
          border: 1px solid map-get($map: $font-color, $key: dark);
          margin-top: 30px;
          font-size: map-get($map: $font-size, $key: base);
          background-color: transparent;
          font-weight: bold;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 20px;
          cursor: pointer;
        }
      }
    }
  }
  // section page2
  #brand-page2 {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 0px;
    padding: 20px;
    .brand2-up {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 0;
      margin-left: 0px;
      .b2-left {
        width: 100%;
        margin-top: 3ch;
        margin-bottom: 0px;
        .story-txt {
          br {
            display: none;
          }
          p {
            line-height: 1.5em;
            font-size: map-get($map: $font-size, $key: large);
            color: map-get($map: $font-color, $key: dark);
          }
          a.story-btn {
            width: 100%;
            height: 60px;
            border: 1px solid map-get($map: $font-color, $key: dark);
            margin-top: 30px;
            font-size: map-get($map: $font-size, $key: base);
            background-color: transparent;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
          }
        }
      }
      .b2-right {
        width: 100%;
        img {
          width: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }
    .brand2-down {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      margin-left: 0px;
      padding: 0;
      margin-top: 50px;
      .bd2-left {
        width: 100%;
        margin-top: 60px;
        p {
          line-height: 1.7em;
          font-size: map-get($map: $font-size, $key: base);
          color: map-get($map: $font-color, $key: dark);
        }
        a.story-btn {
          width: 100%;
          height: 60px;
          border: 1px solid map-get($map: $font-color, $key: dark);
          margin-top: 50px;
          font-size: map-get($map: $font-size, $key: base);
          background-color: transparent;
          font-weight: bold;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 5px;
          cursor: pointer;
        }
      }
    }
    .bd2-right {
      width: 100%;
      margin: 30px 0 80px;
      img {
        width: 100%;
      }
    }
  }
  // section page3
  #brand-page3 {
    display: flex;
    margin-top: 0;
    .b3-center {
      width: 95%;
      .br-slidercon {
        width: 95%;
        .br-slide {
          img {
            height: 300px;
          }
        }
        // Slick Slider
        .slick-prev {
          font-size: 0;
          border: none;
          position: absolute;
          top: 50%;
          left: -5%;
          z-index: 10;
          transform: translateY(-50%);
          width: 20px;
          height: 50px;
          background: url("../img/icon/arrow_left.png") no-repeat center center;
          cursor: pointer;
          opacity: 0.6;
          &:hover {
            opacity: 1;
          }
        }
        .slick-next {
          font-size: 0;
          border: none;
          position: absolute;
          top: 50%;
          right: -5%;
          z-index: 9;
          transform: translateY(-50%);
          width: 20px;
          height: 50px;
          background: url("../img/icon/arrow_right.png") no-repeat center center;
          cursor: pointer;
          opacity: 0.6;
          &:hover {
            opacity: 1;
          }
        }
        .slick-dots li {
          display: inline;
        }
        .slick-dots li.slick-active button {
          background: #333;
        }
        .slick-dots li button {
          margin-top: 3%;
          font-size: 0;
          border: none;
          width: calc(100% / 4);
          height: 2px;
          background: #aaa;
        }
      }
    }
  }
  .center-txt {
    text-align: center;
    width: 100%;
    margin: 150px 0 100px 0;
    padding: 10px 20px;
    font-weight: bold;
    text-align: center;
    p.b-top {
      font-size: map-get($map: $font-size, $key: large);
      color: map-get($map: $font-color, $key: medium);
      span {
        color: map-get($map: $font-color, $key: naklight);
      }
      margin: 0px 0px 20px;
    }
    p.b-under {
      font-size: map-get($map: $font-size, $key: base);
      color: map-get($map: $font-color, $key: medium);
    }
  }
  //footer
  footer {
    bottom: 0;
    width: 100%;
    height: 670px;
    .footer_inner {
      padding: 30px 10px 0 40px;
      .footer_contents {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 180px);
        border-bottom: none;
        .footer_content {
          width: 90%;
          &:last-child {
            width: 95%;
            grid-column: 1 / 3;
            padding-top: 15px;
            p {
              line-height: 1.7rem;
            }
          }
        }
      }
    }
  }
}
