@font-face {
  font-family: Regular;
  src: url("../font/SuisseIntl-Regular-WebS.a55b96fd.woff2");
}
@font-face {
  font-family: Medium;
  src: url("../font/SuisseIntl-Medium-WebS.5ee1ad41.woff2");
}

/*mapget*/
$font-size: (
  xsmall: 12px,
  small: 14px,
  base: 16px,
  medium: 20px,
  large: 24px,
  xlarge: 32px,
);
$font-color: (
  wh: #fff,
  medium: #717171,
  dark: #383838,
  naklight: #b9ae91,
  quotation: #717171,
  ask: #271100,
  gray: #666,
);
$background-color: (
  lightback: #222,
  brownbottle: rgba(39, 17, 0, 0.47),
);

// reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: map-get($font-color, dark);
}

//common

.container {
  width: 100%;
  background: url("../img/common/lightback.png") center center;
  main {
    width: 100%;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    section {
      width: 100%;
      background: url("../img/common/lightback.png") center center;
    }
  }
}
// cart alarm
#cart_alarm {
  display: none;
  height: 0px;
  transition: all 0.5s;
  position: relative;
  overflow: hidden;
  span {
    color: #fff;
    position: absolute;
    bottom: 20px;
    right: 40px;
  }
}

#cart_alarm.showCart {
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #222;
  opacity: 0.98;
  animation: cartAni 2s ease-out;
  z-index: 999;
}
@keyframes cartAni {
  0% {
    height: 0;
  }
  50% {
    height: 120px;
  }
  100% {
    height: 0;
  }
}

//mini consulting
.query_version {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;
  .fixed_side_icon {
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 100px;
    right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    img {
      width: 50px;
      height: 50px;
    }
  }
  .mini_ask {
    display: none;
  }

  .mini_ask.show {
    display: block;
    width: 360px;
    height: 600px;
    position: fixed;
    bottom: 5%;
    right: 8%;
    background: map-get($font-color, ask);
    color: map-get($font-color, wh);
    opacity: 0.9;
    z-index: 999999px;
    > .fas {
      position: absolute;
      top: 10px;
      right: 10px;
      color: map-get($font-color, dark);
      font-size: map-get($font-size, medium);
    }
    label {
      em {
        color: #f00;
      }
    }
    h1 {
      width: 100%;
      text-align: center;
      font-size: map-get($font-size, medium);
      color: map-get($font-color, dark);
      background: #dfdfdf;
      padding: 3% 0;
    }
    p {
      font-size: map-get($font-size, base);
      line-height: 1.3;
      margin-bottom: 0;
      padding: 3% 3% 0 3%;
      span {
        font-weight: bold;
      }
    }
    .mini_ask_form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 3.5%;
      label {
        margin-bottom: 1.5%;
        font-size: map-get($font-size, base);
      }
      input,
      textarea {
        width: 100%;
        padding: 5px;
        outline: none;
        margin-bottom: 5px;
        &::placeholder {
          font-size: map-get($font-size, large);
        }
      }
      #submitBtn {
        margin-top: 10px;
        padding: 10px 20px;
        border: none;
        transition: 0.3s;
        &:hover {
          background: #767676;
        }
      }
    }
  }
}
// giftTop
.gift_top_box {
  overflow-y: scroll;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  margin-left: -100%;
  height: 100vh;
  background: #e7ddc9;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  z-index: 99999;
  transition: all 0.5s;
  div {
    padding: 20px 0;
    border-bottom: 1px solid gray;
    width: 90%;
    span {
      display: block;
      margin-bottom: 10px;
      font-size: map-get($font-size, medium);
    }
    &:nth-child(1) {
      height: 100px;
      .fas {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: map-get($font-size, large);
      }
    }
    &:nth-child(2) {
      height: 160px;
      p {
        text-align: left;
        display: flex;
        justify-content: space-between;
        color: rgb(100, 99, 99);
        > span {
          font-size: map-get($font-size, base);
        }
        &:nth-of-type(2) {
          margin-top: 40px;
        }
      }
    }
    &:nth-child(3) {
      border: none;
    }
  }
  .gift_top_list {
    section {
      width: 100%;
      height: 190px;
      padding: 20px 0;
      border-bottom: 1px solid gray;
      span {
        font-size: map-get($font-size, medium);
        display: block;
        margin-bottom: 30px;
      }
      p {
        color: rgb(100, 99, 99);
      }
    }
  }
}
.gift_top_box.show {
  margin-left: 0%;
}
.container.bgOpacity,
header.bgOpacity {
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    background: #222;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 88;
  }
}
.container.bgOpacity {
  position: fixed;
}

// 로그인
.login_modal {
  display: none;
}
.login_modal.loginShow {
  display: block;
  width: 600px;
  height: 700px;
  background: #e7ddc9;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
  z-index: 999999;
  .login_inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    padding: 40px;
    > .fas {
      position: absolute;
      top: 20px;
      right: 20px;
    }
    h1 {
      font-size: 40px;
      font-weight: normal;
      margin-bottom: 20px;
    }
    form {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 15px;
      input {
        width: 100%;
        border: none;
        outline: none;
        background: transparent;
        border-bottom: 1px solid map-get($font-color, gray);
        padding-bottom: 2px;
        font-size: map-get($font-size, medium);
        &:nth-of-type(1) {
          margin-bottom: 50px;
        }
        &::placeholder {
          font-size: map-get($font-size, medium);
        }
      }
      > span {
        display: block;
        text-align: right;
        margin-bottom: 50px;
      }
      input[type="submit"] {
        border: 1px solid map-get($font-color, gray);
        padding: 3.2% 0;
        background: #000;
        opacity: 1;
        color: map-get($font-color, wh);
        &:hover {
          background: #111;
          opacity: 0.85;
        }
      }
    }
    h2 {
      font-size: map-get($font-size, large);
      font-weight: normal;
    }
    p {
      font-size: map-get($font-size, base);
      color: map-get($font-color, gray);
      line-height: 1.6em;
    }
    a {
      width: 100%;
      height: 60px;
      line-height: 60px;
      text-align: center;
      border: 1px solid map-get($font-color, gray);
      color: map-get($font-color, gray);
      &:hover {
        background: rgba(225, 225, 225, 0.4);
      }
    }
  }
}
.login_modal.loginShow .container {
  position: fixed;
}

// ======== header SCSS =========
header {
  width: 100%;
  height: 120px;
  background: url("../img/common/lightback.png");
  position: relative;
  .gift_top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background: #222;
    color: map-get($font-color, wh);
    h4 {
      font-size: map-get($font-size, small);
      font-weight: normal;
      cursor: pointer;
      &::after {
        content: "+";
        color: map-get($font-color, wh);
        margin-left: map-get($font-size, medium);
      }
    }
  }
  nav {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    .logo {
      width: 90px;
      a {
        img {
          width: 100%;
        }
      }
    }
    .gnb {
      width: 90%;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 5%;
      margin-left: 30px;
      li {
        a {
          font-size: map-get($font-size, base);
          color: map-get($font-color, dark);
        }
        &:last-child {
          .gnb_detail_box {
            .gnb_detail_box_inner {
              .gnb_detail_list {
                padding-left: 0;
                ul {
                  &:nth-of-type(1) {
                    text-align: right;
                    padding-right: 30px;
                    li {
                      &:first-child {
                        padding-bottom: 100px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .gnb_detail_box {
          display: none;
          width: 100vw;
          position: absolute;
          left: 0;
          top: 100%;
          z-index: 99;
          background: #e7ddc9;
          &.active {
            display: block;
          }
          .gnb_detail_box_inner {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            img {
              width: 300px;
            }
            .gnb_detail_list {
              flex: 4;
              display: flex;
              align-items: flex-start;
              padding: 50px;
              ul {
                width: 30%;
                li {
                  line-height: 2em;
                  > a {
                    font-size: map-get($font-size, medium);
                    color: #7e7e7e;
                    position: relative;
                    &::before {
                      content: "";
                      width: 0%;
                      height: 1px;
                      background: #000;
                      position: absolute;
                      bottom: 0;
                      left: 0;
                      transition: 0.3s;
                    }
                    &:hover {
                      &::before {
                        width: 100%;
                      }
                    }
                    &.bold {
                      font-weight: 700;
                    }
                    &.clickItem {
                      color: #000;
                    }
                  }
                }
              }
            }
            .kit_background {
              position: absolute;
              right: 100px;
              bottom: 0px;
            }
          }
        }
      }
    }
    .gnb_right {
      width: 40%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      gap: 25px;
      a {
        color: map-get($font-color, dark);
      }
      .finder {
        position: relative;
        margin-right: 300px;
        font-size: map-get($font-size, base);
        color: map-get($font-color, dark);
        &::before {
          content: "\f002";
          font-family: fontawesome;
        }
        &::after {
          content: "";
          width: 80px;
          height: 1px;
          background: #000;
          position: absolute;
          bottom: 0;
          left: 0;
        }
      }
      .toggle {
        display: none;
      }
    }
  }
}
header.scrollEffect {
  position: fixed;
  z-index: 9999;
  height: 80px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  .gift_top {
    display: none;
  }
}

// back to top
.back_to_top {
  display: none;
  opacity: 0.4;
  transition: 0.3s;
}
.back_to_top.btt_show {
  display: block;
  position: fixed;
  bottom: 30px;
  right: 26px;
  width: 50px;
  height: 50px;
  line-height: 60px;
  text-align: center;
  background: #000;
  opacity: 1;
  border-radius: 50%;
  scroll-behavior: smooth;
  .fas {
    color: map-get($font-color, wh);
    font-size: map-get($font-size, xlarge);
  }
}
// ======== aside SCSS =========
aside#mobile_gnb_list {
  display: none;
}

/*product_page1*/
#product_page1 {
  flex-direction: column;
  align-items: center;
  .product_page_banner {
    width: 100%;
    position: relative;
    img {
      display: block;
      width: 100%;
      height: 400px;
      object-fit: cover;
      object-position: center;
    }
    .banner_text {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 12%;
      color: map-get($font-color, wh);
      width: 38%;
      .banner_title {
        font-size: map-get($font-size, large);
        font-weight: bold;
      }
      .banner_subtitle {
        margin-top: 4%;
        line-height: 2rem;
        a {
          font-size: map-get($font-size, medium);
          word-break: keep-all;
        }
      }
    }
  }
  .product_page_product_nav {
    width: 100%;
    height: 10%;
    background-color: map-get($background-color, brownbottle);
    padding: 10px 30px;
    .nav_wrap {
      display: flex;
      justify-content: center;
      ul {
        display: flex;
        flex-direction: row;
        margin-top: 0.5%;
        width: 100%;

        li {
          margin-right: 3%;
          a {
            color: map-get($font-color, wh);
            font-size: map-get($font-size, medium);
            position: relative;

            &::before {
              content: "";
              width: 0%;
              height: 2px;
              background: #fff;
              position: absolute;
              left: 0;
              bottom: 0;
              transition: 0.3s;
            }
            &:hover::before {
              width: 100%;
            }
          }
        }
      }
    }
  }
  .product_page_search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 400px;
    margin-top: 45px;
    padding: 0 30px;
    h3 {
      font-size: map-get($font-size, large);
      font-weight: 600;
      color: map-get($font-color, dark);
      margin-bottom: 10px;
    }
    .product_page_search_product {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      a {
        position: relative;
        width: 20%;
        height: 100%;
        color: map-get($font-color, wh);
        font-weight: bold;
        font-size: map-get($font-size, large);
        z-index: 0;
        padding: 1%;
        margin-top: 1%;
        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          z-index: -1;
          padding: 1%;
          filter: brightness(0.7);
          transition: 0.3s;
          &:hover {
            filter: brightness(1);
          }
        }
      }
    }
  }
}

/*product_page2*/
#product_page2 {
  width: 100%;
  padding: 0 30px;
  .product_page2_ad {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5% 0;
    img {
      width: 65%;
      height: 100%;
      object-fit: cover;
      object-position: right;
    }
    .product_page_ad_text {
      width: 31%;
      h3 {
        font-size: 30px;
      }
      p {
        padding-top: 2%;
        line-height: 2rem;
        font-size: 20px;
        word-break: keep-all;
      }
    }
  }
}

/*product_page3*/
#product_page3 {
  width: 100%;
  height: 500px;
  padding: 0 30px;
  .product_page_ad_prduct {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    text-align: center;
    width: 100%;
    height: 100%;
    ul {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      li {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 32%;
        height: 100%;
        color: map-get($font-color, wh);
        background: #e7ddc9;
        a {
          width: 100%;
          height: 76%;
          color: map-get($font-color, wh);
          background: map-get($background-color, brownbottle);
          padding: 10px;
          img {
            object-fit: cover;
            object-position: center;
            width: 100%;
            height: 78%;
          }
        }
        .over {
          display: none;
          width: 100%;
          height: 23%;
          background: map-get($background-color, brownbottle);
          p {
            margin-bottom: 2%;
          }
          .button {
            width: 100%;
            height: 40%;
            button {
              border: none;
              width: 100%;
              height: 100%;
              background: map-get($background-color, lightback);
              color: map-get($font-color, wh);
              font-size: map-get($font-size, base);
              &:nth-of-type(1) {
                margin-top: 1%;
                border-bottom: 1px solid gray;
              }
            }
          }
        }
      }
    }
  }
}

.name {
  font-weight: bold;
  font-size: map-get($font-size, medium);
  margin-bottom: 1%;
}
.info {
  font-weight: normal;
  font-size: map-get($font-size, base);
  color: #dfdfdf;
  margin-bottom: 2.5%;
}
.price {
  font-weight: 500;
  font-size: map-get($font-size, medium);
}

/*product_page4*/
#product_page4 {
  flex-direction: column;
  align-items: center;
  padding: 5% 30px 0 30px;
  .product_page_seasonal {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 500px;
    margin-bottom: 0;
    .product_page_seasonal_text {
      width: 34%;
      padding-right: 20px;
      h3 {
        font-size: 30px;
        padding-bottom: 2%;
      }
      p {
        font-size: 20px;
        line-height: 1.8em;
        word-break: keep-all;
      }
    }
    .product_page_seasonal_product {
      width: 66%;
      display: flex;
      flex-direction: row;
      align-items: center;
      text-align: center;
      justify-content: space-between;
      height: 100%;
      ul {
        width: 100%;
        display: flex;
        justify-content: space-between;
        height: 100%;
        li {
          width: 48.5%;
          height: 500px;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          color: map-get($font-color, wh);
          background: #e7ddc9;
          a {
            width: 100%;
            height: 75%;
            color: map-get($font-color, wh);
            background: map-get($background-color, brownbottle);
            padding-bottom: 20px;
            img {
              object-fit: cover;
              margin-top: 5%;
              width: 80%;
              height: 70%;
            }
          }
          .over {
            display: none;
            width: 100%;
            height: 21%;
            background: map-get($background-color, brownbottle);
            p {
              margin-bottom: 2%;
              height: 20%;
              input {
                cursor: pointer;
              }
            }
            .button {
              width: 100%;
              height: 43%;
              button {
                border: none;
                width: 100%;
                height: 100%;
                background: map-get($background-color, lightback);
                color: map-get($font-color, wh);
                font-size: map-get($font-size, base);
                &:nth-of-type(1) {
                  margin-top: 1%;
                  border-bottom: 1px solid gray;
                }
              }
            }
          }
        }
      }
    }
  }

  .page_under {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 100%;
    .product_page_recommend_btn {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 25%;
      padding: 10% 0;
      h3 {
        width: 100%;
        font-size: 30px;
        padding-bottom: 2%;
      }
      a {
        margin-top: 3%;
        padding: 4%;
        width: 100%;
        border: 1px solid map-get($font-color, dark);
        color: map-get($font-color, dark);
        font-size: map-get($font-size, medium);
        font-weight: 500;
        transition: 0.3s;
        display: block;
        &::after {
          content: "";
          display: block;
          background: url(../img/common/arrow_bk.png) center center/contain
            no-repeat;
          width: 20px;
          height: 10px;
          float: right;
          margin-top: 6px;
        }
        &:hover {
          opacity: 0.6;
        }
      }
    }
    .product_page_quotation {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-left: 14%;
      width: 55%;
      height: 40%;
      font-weight: 600;
      color: map-get($font-color, quotation);
      font-size: map-get($font-size, large);
      b {
        font-size: map-get($font-size, xlarge);
        padding: 1%;
      }
    }
  }
}

//footer
footer {
  width: 100%;
  background: #222;
  .footer_inner {
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    .footer_contents {
      display: grid;
      grid-template-columns: repeat(4, 1fr) 2fr;
      grid-template-rows: 1fr;
      grid-gap: 10px;
      border-bottom: 1px solid #c6c1c1;
      padding: 10px 10px;
      .footer_content {
        width: 95%;
        h3 {
          font-size: map-get($font-size, medium);
          color: #c6c1c1;
          margin-bottom: 10px;
        }
        p {
          color: #b8b8b8;
          font-size: map-get($font-size, small);
          line-height: 1.3rem;
          border-top: 1px solid #c6c1c1;
          padding: 10px 0px;
          span {
            display: block;
            margin-bottom: 5px;
          }
        }
      }
    }
    > span {
      display: block;
      margin: 10px 0;
      color: #b8b8b8;
      font-size: map-get($font-size, base);
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  // login
  .login_modal.loginShow {
    width: 550px;
    height: 700px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .gift_top_box {
    width: 100%;
  }
  header {
    nav {
      .logo {
        width: 85px;
        img {
          width: 100%;
        }
      }
      .gnb {
        li {
          &:last-child {
            .gnb_detail_box {
              .gnb_detail_box_inner {
                .gnb_detail_list {
                  ul {
                    &:nth-of-type(1) {
                      li {
                        &:first-child {
                          padding-bottom: 80px;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
          .gnb_detail_box {
            .gnb_detail_box_inner {
              gap: 40px;
              img {
                width: 200px;
              }
              .gnb_detail_list {
                padding: 20px;
                ul {
                  flex: 1;
                  li {
                    line-height: 1.7rem;
                    a {
                      font-size: map-get($font-size, base);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  // mini consulting
  .query_version {
    .mini_ask {
      .fixed_side_icon {
        width: 45px;
        height: 45px;
      }
    }
  }
  // product_page2
  #product_page1 {
    .product_page_banner {
      img {
        height: 350px;
      }
      .banner_text {
        width: 50%;
        left: 5%;
        .banner_title {
          font-size: map-get($font-size, medium);
          .banner_subtitle {
            margin-top: 4%;
            line-height: 2rem;
            a {
              font-size: map-get($font-size, base);
              word-break: keep-all;
            }
          }
        }
      }
    }
    .product_page_product_nav {
      padding: 5px 30px;
      .nav_wrap {
        ul {
          li {
            margin-right: 3%;
            a {
              color: map-get($font-color, wh);
              font-size: 17px;
              position: relative;

              &::before {
                content: "";
                width: 0%;
                height: 2px;
                background: #fff;
                position: absolute;
                left: 0;
                bottom: 0;
                transition: 0.3s;
              }
              &:hover::before {
                width: 100%;
              }
            }
          }
        }
      }
    }
    .product_page_search {
      height: 270px;
    }
  }
  // product_page2
  #product_page2 {
    justify-content: center;
    .product_page2_ad {
      margin-top: 10%;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img {
        width: 100%;
      }
      .product_page_ad_text {
        margin-top: 3%;
        width: 100%;
      }
    }
  }
  #product_page3 {
    height: 400px;
    margin-top: 0;
    .product_page_ad_prduct {
      justify-content: center;
      width: 100%;
      ul {
        width: 100%;
        li {
          width: 32%;
          a {
            height: 68%;
            img {
              width: 100%;
              height: 50%;
            }
          }
          .over {
            height: 30%;
          }
        }
      }
    }
  }
  #product_page4 {
    margin-top: 20%;
    border: 1px;
    .product_page_seasonal {
      flex-direction: column;
      justify-content: center;
      margin-top: 0;
      .product_page_seasonal_text {
        width: 100%;
        margin-bottom: 5%;
      }
      .product_page_seasonal_product {
        width: 100%;
        ul {
          li {
            width: 49%;
          }
        }
      }
    }
    .page_under {
      margin-top: 7%;
      flex-direction: column;
      .product_page_recommend_btn {
        width: 100%;
        display: flex;
        .help_btn {
          display: flex;
          justify-content: space-between;
          align-items: center;
          a {
            width: 49%;
            padding: 2%;
          }
        }
      }
      .product_page_quotation {
        padding-bottom: 5%;
        margin-left: 0;
        width: 100%;
      }
    }
  }

  // mini consulting
  .query_version {
    .fixed_side_icon {
      z-index: 99;
    }
    .mini_ask.show {
      width: 360px;
      height: 570px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      p {
        font-size: map-get($font-size, small);
        line-height: 1.3em;
        margin-bottom: 5px;
      }
      .mini_ask_form {
        label {
          font-size: map-get($font-size, base);
        }
        input,
        textarea {
          padding: 8px;
        }
        textarea {
          height: 150px;
        }
      }
    }
  }

  // footer
  footer {
    .footer_inner {
      .footer_contents {
        .footer_content {
          h3 {
            font-size: map-get($font-size, base);
          }
        }
      }
    }
  }
}

// mobile
@media screen and (min-width: 320px) and (max-width: 767px) {
  // login
  .login_modal.loginShow {
    display: block;
    width: 360px;
    height: 570px;
    transform: translate(-50%, -45%);
    z-index: 99999;
    .login_inner {
      gap: 20px;
      padding: 30px;
      h1 {
        font-size: 30px;
      }
      form {
        gap: 10px;
        > span {
          display: block;
          text-align: right;
          margin-bottom: 20px;
        }
      }
      p {
        font-size: map-get($font-size, small);
        color: map-get($font-color, gray);
        line-height: 1.3em;
      }
    }
  }
  // ======== header SCSS ========
  header {
    .gift_top {
      h4 {
        font-size: map-get($font-size, xsmall);
        text-align: center;
        &::after {
          margin-left: 5px;
        }
      }
    }
    nav {
      width: 100%;
      z-index: 2;
      .logo {
        z-index: 99;
        margin-top: 5px;
        margin-left: 2%;
        img {
          width: 70px;
        }
      }
      .gnb {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: flex-start;
        z-index: 2;
        display: none;
        a {
          padding: 2%;
        }
      }
      .gnb_right {
        width: 100%;
        position: absolute;
        right: 2%;
        z-index: 99;
        li {
          a {
            color: map-get($font-color, dark);
          }
        }
        .toggle {
          display: block;
          width: 23px;
          height: 13px;
          position: relative;
          margin-right: 10px;
          span {
            display: block;
            width: 100%;
            height: 2px;
            background: #222;
            position: absolute;
            transition: all 0.3s;
            &:nth-child(1) {
              top: 0px;
            }
            &:nth-child(2) {
              bottom: 0px;
            }
          }
        }
        .active {
          span {
            &:nth-child(1) {
              top: 50%;
              transform: rotate(45deg);
            }
            &:nth-child(2) {
              top: 50%;
              transform: rotate(-45deg);
            }
          }
        }
      }
    }
  }

  .container.removeContainer {
    display: none;
  }
  .query_version {
    .fixed_side_icon {
      z-index: 99;
    }
    .mini_ask.show {
      width: 400px;
      height: 550px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      p {
        font-size: map-get($font-size, small);
        line-height: 1.3em;
        margin-bottom: 5px;
      }
      .mini_ask_form {
        label {
          font-size: map-get($font-size, base);
        }
        input,
        textarea {
          padding: 8px;
        }
        textarea {
          height: 150px;
        }
      }
    }
  }

  .gift_top.removeGiftTop {
    height: 0%;
    opacity: 0;
  }
  .query_version {
    .fixed_side_icon {
      z-index: 99;
    }
    .mini_ask.show {
      width: 360px;
      height: 570px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      p {
        font-size: map-get($font-size, small);
        line-height: 1.3em;
        margin-bottom: 5px;
      }
      .mini_ask_form {
        label {
          font-size: map-get($font-size, base);
        }
        input,
        textarea {
          padding: 8px;
        }
        textarea {
          height: 150px;
        }
      }
    }
  }

  // giftTop
  .gift_top_box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-left: -100%;
    height: 180vh;
    background: #e7ddc9;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    z-index: 99999;
    transition: all 0.5s;
    div {
      padding: 20px 0;
      border-bottom: 1px solid gray;
      width: 90%;
      span {
        display: block;
        margin-bottom: 10px;
        font-size: map-get($font-size, medium);
      }
      &:nth-child(1) {
        height: 100px;
        .fas {
          position: absolute;
          top: 20px;
          right: 20px;
          font-size: map-get($font-size, large);
        }
      }
      &:nth-child(2) {
        height: 160px;
        p {
          text-align: left;
          display: flex;
          justify-content: space-between;
          color: rgb(100, 99, 99);
          > span {
            font-size: map-get($font-size, base);
          }
          &:nth-of-type(2) {
            margin-top: 40px;
          }
        }
      }
      &:nth-child(3) {
        border: none;
      }
    }
    .gift_top_list {
      section {
        width: 100%;
        height: 190px;
        padding: 20px 0;
        border-bottom: 1px solid gray;
        span {
          font-size: map-get($font-size, medium);
          display: block;
          margin-bottom: 30px;
        }
        p {
          color: rgb(100, 99, 99);
        }
      }
    }
  }
  .gift_top_box.show {
    margin-left: 0%;
  }
  #nav_detail_list {
    display: none;
  }

  #mobile_gnb_list {
    display: none;
    position: absolute;
    top: -50px;
    left: 0;
    opacity: 0.5;
    transition: all 1s;
  }

  #mobile_gnb_list.showModalGnb {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 130vh;
    top: 0;
    z-index: 6;
    opacity: 1;
    background: #fffef2;
    overflow: hidden;
    .modal_top_gnb_list {
      order: 1;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding-top: 90px;
      > li {
        width: 100%;
        padding: 17px 30px;
        border-bottom: 1px solid map-get($font-color, dark);
        &:first-child {
          border-top: 1px solid map-get($font-color, dark);
        }
        > a {
          color: map-get($font-color, dark);
          font-size: map-get($font-size, medium);
        }
      }
    }

    .gnb_list_bottom {
      order: 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 26px;
      .modal_bottom_mini_list {
        order: 1;
        width: 100%;
        height: 150px;
        margin-bottom: 15px;
        > li {
          display: inline-block;
          width: 49%;
          padding: 10px 0;
          > a {
            position: relative;
            font-size: map-get($font-size, medium);
            color: map-get($font-color, gray);
            &::before {
              content: "";
              width: 0%;
              height: 1px;
              background: map-get($font-color, dark);
              position: absolute;
              bottom: 0;
              left: 0;
              transition: 0.5s;
            }
            &:hover::before {
              width: 100%;
            }
          }
        }
      }
      figure {
        order: 2;
        width: 100%;
        height: 250px;
        padding-left: 10px;
        img {
          width: 90%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
      figcaption {
        order: 3;
        padding: 5px 0 0 20px;
        span {
          display: block;
          margin-bottom: 10px;
          a {
            font-size: map-get($font-size, medium);
            color: map-get($font-color, gray);
          }
        }
        h3 {
          font-size: map-get($font-size, large);
          font-weight: normal;
          position: relative;
          &::before {
            content: "";
            width: 0%;
            height: 1px;
            background: map-get($font-color, dark);
            position: absolute;
            bottom: 0;
            left: 0;
            transition: 0.5s;
          }
          &:hover::before {
            width: 100%;
          }
        }
      }
    }
  }

  // ======== aside SCSS =========
  #mobile_gnb_list {
    display: none;
    position: absolute;
    top: -50px;
    left: 0;
    opacity: 0.5;
    transition: all 1s;
  }

  #mobile_gnb_list.showModalGnb {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 130vh;
    top: 0;
    z-index: 8;
    opacity: 1;
    background: #fffef2;
    overflow: hidden;
    .modal_top_gnb_list {
      order: 1;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding-top: 90px;
      > li {
        width: 100%;
        padding: 17px 30px;
        border-bottom: 1px solid map-get($font-color, dark);
        &:first-child {
          border-top: 1px solid map-get($font-color, dark);
        }
        > a {
          color: map-get($font-color, dark);
          font-size: map-get($font-size, medium);
        }
      }
    }

    .gnb_list_bottom {
      order: 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 26px;
      .modal_bottom_mini_list {
        order: 1;
        width: 100%;
        height: 150px;
        margin-bottom: 15px;
        > li {
          display: inline-block;
          width: 49%;
          padding: 10px 0;
          > a {
            position: relative;
            font-size: map-get($font-size, medium);
            color: map-get($font-color, gray);
            &::before {
              content: "";
              width: 0%;
              height: 1px;
              background: map-get($font-color, dark);
              position: absolute;
              bottom: 0;
              left: 0;
              transition: 0.5s;
            }
            &:hover::before {
              width: 100%;
            }
          }
        }
      }
      figure {
        order: 2;
        width: 100%;
        height: 250px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
      figcaption {
        order: 3;
        padding: 5px 0 0 20px;
        span {
          display: block;
          margin-bottom: 10px;
          a {
            font-size: map-get($font-size, medium);
            color: map-get($font-color, gray);
          }
        }
        h3 {
          font-size: map-get($font-size, large);
          font-weight: normal;
          position: relative;
          &::before {
            content: "";
            width: 0%;
            height: 1px;
            background: map-get($font-color, dark);
            position: absolute;
            bottom: 0;
            left: 0;
            transition: 0.5s;
          }
          &:hover::before {
            width: 100%;
          }
        }
      }
    }
  }
  // mini consulting
  .query_version {
    .fixed_side_icon {
      z-index: 99;
    }
    .mini_ask.show {
      width: 360px;
      height: 560px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      p {
        font-size: map-get($font-size, small);
        line-height: 1.3em;
        margin-bottom: 5px;
      }
      .mini_ask_form {
        label {
          font-size: map-get($font-size, base);
        }
        input,
        textarea {
          padding: 8px;
        }
        textarea {
          height: 150px;
        }
      }
    }
  }
  /*main*/

  /*section1===========================================*/
  #product_page1 {
    height: 100%;
    .product_page_banner {
      position: relative;
      object-fit: cover;
      width: 100%;
      img {
        height: 240px;
      }
      .banner_text {
        width: 70%;
        left: 20px;
        .banner_title {
          padding-top: 4%;
          font-size: map-get($font-size, base);
          width: 100%;
        }
        .banner_subtitle {
          font-size: map-get($font-size, small);
          margin-top: 4%;
          width: 100%;
        }
      }
    }
    .product_page_product_nav {
      .nav_wrap {
        ul {
          display: flex;
          justify-content: space-between;
          li {
            a {
              font-size: map-get($font-size, small);
            }
          }
        }
      }
    }
    .product_page_search {
      margin-top: 5%;
      width: 100%;
      height: 160px;
      padding: 0 20px;
      h3 {
        font-size: map-get($font-size, medium);
      }
      .product_page_search_product {
        display: flex;
        width: 100%;
        height: 100%;
        a {
          font-size: map-get($font-size, medium);
          width: 40%;
          height: 100%;
          img {
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
  /*product_page2*/
  #product_page2 {
    height: 70%;
    padding: 0 20px;
    .product_page2_ad {
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        margin-top: 0;
        height: 60%;
        width: 100%;
        object-fit: cover;
        object-position: right;
      }
      .product_page_ad_text {
        width: 100%;
        h3 {
          margin-top: 5%;
          font-size: map-get($font-size, medium);
        }
        p {
          font-size: map-get($font-size, base);
        }
      }
    }
  }

  /*product_page3*/
  #product_page3 {
    padding: 0 20px;
    height: auto;
    .product_page_ad_prduct {
      height: 100%;
      ul {
        justify-content: space-around;
        flex-direction: column;
        gap: 20px;
        li {
          width: 100%;
          background: map-get($background-color, brownbottle);
          a {
            background: none;
            img {
              width: 75%;
            }
          }
          .over {
            display: block;
            background: none;
            p {
              margin-bottom: 3%;
              font-size: map-get($font-size, small);
            }
            .button {
              button {
                font-size: map-get($font-size, small);
                padding: 10px 0;
              }
            }
          }
        }
      }
    }
  }
  .name {
    font-size: map-get($font-size, base);
    margin-bottom: 0.5%;
  }
  .info {
    font-size: map-get($font-size, small);
    margin-bottom: 1%;
  }
  .price {
    font-weight: 500;
    font-size: map-get($font-size, base);
  }

  /*product_page4*/
  #product_page4 {
    margin-top: 50px;
    padding: 0 20px;
    .product_page_seasonal {
      margin-top: 3%;
      height: 100%;
      flex-direction: column;
      .product_page_seasonal_text {
        width: 100%;
        padding-right: 0;
        margin-bottom: 40px;
        h3 {
          margin-top: 2%;
          font-size: map-get($font-size, medium);
        }
        p {
          font-size: map-get($font-size, base);
        }
      }
      .product_page_seasonal_product {
        width: 100%;
        ul {
          height: 100%;
          justify-content: space-around;
          flex-direction: column;
          gap: 20px;
          li {
            width: 100%;
            height: 46%;
            background: map-get($background-color, brownbottle);
            a {
              height: 80%;
              background: none;
              img {
                margin-top: 1%;
                width: 40%;
                height: 65%;
              }
            }
            .over {
              display: block;
              margin-top: 0%;
              height: 25%;
              background: none;
              p {
                margin-bottom: 2%;
                font-size: map-get($font-size, small);
              }
              .button {
                button {
                  font-size: map-get($font-size, small);
                  padding: 10px;
                }
              }
            }
          }
        }
      }
    }
    .page_under {
      margin-top: 0;
      flex-direction: column;
      .product_page_recommend_btn {
        width: 100%;
        h3 {
          margin-top: 3%;
          padding-bottom: 1%;
          font-size: map-get($font-size, medium);
        }
        a {
          margin-top: 1%;
          font-size: map-get($font-size, base);
        }
      }
      .product_page_quotation {
        margin-left: 0;
        margin-bottom: 20%;
        width: 100%;
        font-size: map-get($font-size, small);
        b {
          font-size: map-get($font-size, base);
        }
      }
    }
  }
  // footer
  footer {
    .footer_inner {
      .footer_contents {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        border-bottom: none;
        .footer_content {
          &:last-child {
            width: 95%;
            grid-column: 1 / 3;
            padding-top: 15px;
            p {
              line-height: 1.7rem;
            }
          }
        }
      }
      > span {
        display: block;
        color: #b8b8b8;
        font-size: 20px;
        margin: 10px 0;
      }
    }
  }
}
