@font-face {
  font-family: Regular;
  src: url("../font/SuisseIntl-Regular-WebS.a55b96fd.woff2");
}
@font-face {
  font-family: Medium;
  src: url("../font/SuisseIntl-Medium-WebS.5ee1ad41.woff2");
}
/*mapget*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #383838;
}

.container {
  width: 100%;
  background: url("../img/common/lightback.png") center center;
}
.container main {
  width: 100%;
}
.container main section {
  width: 100%;
  background: url("../img/common/lightback.png") center center;
}

#cart_alarm {
  display: none;
  height: 0px;
  transition: all 0.5s;
  position: relative;
  overflow: hidden;
}
#cart_alarm span {
  color: #fff;
  position: absolute;
  bottom: 20px;
  right: 40px;
}

#cart_alarm.showCart {
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #222;
  opacity: 0.98;
  animation: cartAni 2s ease-out;
  z-index: 999;
}

@keyframes cartAni {
  0% {
    height: 0;
  }
  50% {
    height: 120px;
  }
  100% {
    height: 0;
  }
}
.query_version {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;
}
.query_version .fixed_side_icon {
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 100px;
  right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}
.query_version .fixed_side_icon img {
  width: 50px;
  height: 50px;
}
.query_version .mini_ask {
  display: none;
}
.query_version .mini_ask.show {
  display: block;
  width: 360px;
  height: 600px;
  position: fixed;
  bottom: 5%;
  right: 8%;
  background: #271100;
  color: #fff;
  opacity: 0.9;
  z-index: 999999px;
}
.query_version .mini_ask.show > .fas {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #383838;
  font-size: 20px;
}
.query_version .mini_ask.show label em {
  color: #f00;
}
.query_version .mini_ask.show h1 {
  width: 100%;
  text-align: center;
  font-size: 20px;
  color: #383838;
  background: #dfdfdf;
  padding: 3% 0;
}
.query_version .mini_ask.show p {
  font-size: 16px;
  line-height: 1.3;
  margin-bottom: 0;
  padding: 3% 3% 0 3%;
}
.query_version .mini_ask.show p span {
  font-weight: bold;
}
.query_version .mini_ask.show .mini_ask_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 3.5%;
}
.query_version .mini_ask.show .mini_ask_form label {
  margin-bottom: 1.5%;
  font-size: 16px;
}
.query_version .mini_ask.show .mini_ask_form input,
.query_version .mini_ask.show .mini_ask_form textarea {
  width: 100%;
  padding: 5px;
  outline: none;
  margin-bottom: 5px;
}
.query_version .mini_ask.show .mini_ask_form input::-moz-placeholder, .query_version .mini_ask.show .mini_ask_form textarea::-moz-placeholder {
  font-size: 24px;
}
.query_version .mini_ask.show .mini_ask_form input::placeholder,
.query_version .mini_ask.show .mini_ask_form textarea::placeholder {
  font-size: 24px;
}
.query_version .mini_ask.show .mini_ask_form #submitBtn {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  transition: 0.3s;
}
.query_version .mini_ask.show .mini_ask_form #submitBtn:hover {
  background: #767676;
}

.gift_top_box {
  overflow-y: scroll;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  margin-left: -100%;
  height: 100vh;
  background: #e7ddc9;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  z-index: 99999;
  transition: all 0.5s;
}
.gift_top_box div {
  padding: 20px 0;
  border-bottom: 1px solid gray;
  width: 90%;
}
.gift_top_box div span {
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
}
.gift_top_box div:nth-child(1) {
  height: 100px;
}
.gift_top_box div:nth-child(1) .fas {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
}
.gift_top_box div:nth-child(2) {
  height: 160px;
}
.gift_top_box div:nth-child(2) p {
  text-align: left;
  display: flex;
  justify-content: space-between;
  color: rgb(100, 99, 99);
}
.gift_top_box div:nth-child(2) p > span {
  font-size: 16px;
}
.gift_top_box div:nth-child(2) p:nth-of-type(2) {
  margin-top: 40px;
}
.gift_top_box div:nth-child(3) {
  border: none;
}
.gift_top_box .gift_top_list section {
  width: 100%;
  height: 190px;
  padding: 20px 0;
  border-bottom: 1px solid gray;
}
.gift_top_box .gift_top_list section span {
  font-size: 20px;
  display: block;
  margin-bottom: 30px;
}
.gift_top_box .gift_top_list section p {
  color: rgb(100, 99, 99);
}

.gift_top_box.show {
  margin-left: 0%;
}

.container.bgOpacity::before,
header.bgOpacity::before {
  content: "";
  width: 100%;
  height: 100%;
  background: #222;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 88;
}

.container.bgOpacity {
  position: fixed;
}

.login_modal {
  display: none;
}

.login_modal.loginShow {
  display: block;
  width: 600px;
  height: 700px;
  background: #e7ddc9;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
  z-index: 999999;
}
.login_modal.loginShow .login_inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  padding: 40px;
}
.login_modal.loginShow .login_inner > .fas {
  position: absolute;
  top: 20px;
  right: 20px;
}
.login_modal.loginShow .login_inner h1 {
  font-size: 40px;
  font-weight: normal;
  margin-bottom: 20px;
}
.login_modal.loginShow .login_inner form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.login_modal.loginShow .login_inner form input {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 1px solid #666;
  padding-bottom: 2px;
  font-size: 20px;
}
.login_modal.loginShow .login_inner form input:nth-of-type(1) {
  margin-bottom: 50px;
}
.login_modal.loginShow .login_inner form input::-moz-placeholder {
  font-size: 20px;
}
.login_modal.loginShow .login_inner form input::placeholder {
  font-size: 20px;
}
.login_modal.loginShow .login_inner form > span {
  display: block;
  text-align: right;
  margin-bottom: 50px;
}
.login_modal.loginShow .login_inner form input[type=submit] {
  border: 1px solid #666;
  padding: 3.2% 0;
  background: #000;
  opacity: 1;
  color: #fff;
}
.login_modal.loginShow .login_inner form input[type=submit]:hover {
  background: #111;
  opacity: 0.85;
}
.login_modal.loginShow .login_inner h2 {
  font-size: 24px;
  font-weight: normal;
}
.login_modal.loginShow .login_inner p {
  font-size: 16px;
  color: #666;
  line-height: 1.6em;
}
.login_modal.loginShow .login_inner a {
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  border: 1px solid #666;
  color: #666;
}
.login_modal.loginShow .login_inner a:hover {
  background: rgba(225, 225, 225, 0.4);
}

.login_modal.loginShow .container {
  position: fixed;
}

header {
  width: 100%;
  height: 120px;
  background: url("../img/common/lightback.png");
  position: relative;
}
header .gift_top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  background: #222;
  color: #fff;
}
header .gift_top h4 {
  font-size: 14px;
  font-weight: normal;
  cursor: pointer;
}
header .gift_top h4::after {
  content: "+";
  color: #fff;
  margin-left: 20px;
}
header nav {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
}
header nav .logo {
  width: 90px;
}
header nav .logo a img {
  width: 100%;
}
header nav .gnb {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5%;
  margin-left: 30px;
}
header nav .gnb li a {
  font-size: 16px;
  color: #383838;
}
header nav .gnb li:last-child .gnb_detail_box .gnb_detail_box_inner .gnb_detail_list {
  padding-left: 0;
}
header nav .gnb li:last-child .gnb_detail_box .gnb_detail_box_inner .gnb_detail_list ul:nth-of-type(1) {
  text-align: right;
  padding-right: 30px;
}
header nav .gnb li:last-child .gnb_detail_box .gnb_detail_box_inner .gnb_detail_list ul:nth-of-type(1) li:first-child {
  padding-bottom: 100px;
}
header nav .gnb li .gnb_detail_box {
  display: none;
  width: 100vw;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 99;
  background: #e7ddc9;
}
header nav .gnb li .gnb_detail_box.active {
  display: block;
}
header nav .gnb li .gnb_detail_box .gnb_detail_box_inner {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
header nav .gnb li .gnb_detail_box .gnb_detail_box_inner img {
  width: 300px;
}
header nav .gnb li .gnb_detail_box .gnb_detail_box_inner .gnb_detail_list {
  flex: 4;
  display: flex;
  align-items: flex-start;
  padding: 50px;
}
header nav .gnb li .gnb_detail_box .gnb_detail_box_inner .gnb_detail_list ul {
  width: 30%;
}
header nav .gnb li .gnb_detail_box .gnb_detail_box_inner .gnb_detail_list ul li {
  line-height: 2em;
}
header nav .gnb li .gnb_detail_box .gnb_detail_box_inner .gnb_detail_list ul li > a {
  font-size: 20px;
  color: #7e7e7e;
  position: relative;
}
header nav .gnb li .gnb_detail_box .gnb_detail_box_inner .gnb_detail_list ul li > a::before {
  content: "";
  width: 0%;
  height: 1px;
  background: #000;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.3s;
}
header nav .gnb li .gnb_detail_box .gnb_detail_box_inner .gnb_detail_list ul li > a:hover::before {
  width: 100%;
}
header nav .gnb li .gnb_detail_box .gnb_detail_box_inner .gnb_detail_list ul li > a.bold {
  font-weight: 700;
}
header nav .gnb li .gnb_detail_box .gnb_detail_box_inner .gnb_detail_list ul li > a.clickItem {
  color: #000;
}
header nav .gnb li .gnb_detail_box .gnb_detail_box_inner .kit_background {
  position: absolute;
  right: 100px;
  bottom: 0px;
}
header nav .gnb_right {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 25px;
}
header nav .gnb_right a {
  color: #383838;
}
header nav .gnb_right .finder {
  position: relative;
  margin-right: 300px;
  font-size: 16px;
  color: #383838;
}
header nav .gnb_right .finder::before {
  content: "\f002";
  font-family: fontawesome;
}
header nav .gnb_right .finder::after {
  content: "";
  width: 80px;
  height: 1px;
  background: #000;
  position: absolute;
  bottom: 0;
  left: 0;
}
header nav .gnb_right .toggle {
  display: none;
}

header.scrollEffect {
  position: fixed;
  z-index: 9999;
  height: 80px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
header.scrollEffect .gift_top {
  display: none;
}

.back_to_top {
  display: none;
  opacity: 0.4;
  transition: 0.3s;
}

.back_to_top.btt_show {
  display: block;
  position: fixed;
  bottom: 30px;
  right: 26px;
  width: 50px;
  height: 50px;
  line-height: 60px;
  text-align: center;
  background: #000;
  opacity: 1;
  border-radius: 50%;
  scroll-behavior: smooth;
}
.back_to_top.btt_show .fas {
  color: #fff;
  font-size: 32px;
}

aside#mobile_gnb_list {
  display: none;
}

/*product_page1*/
#product_page1 {
  flex-direction: column;
  align-items: center;
}
#product_page1 .product_page_banner {
  width: 100%;
  position: relative;
}
#product_page1 .product_page_banner img {
  display: block;
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
#product_page1 .product_page_banner .banner_text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12%;
  color: #fff;
  width: 38%;
}
#product_page1 .product_page_banner .banner_text .banner_title {
  font-size: 24px;
  font-weight: bold;
}
#product_page1 .product_page_banner .banner_text .banner_subtitle {
  margin-top: 4%;
  line-height: 2rem;
}
#product_page1 .product_page_banner .banner_text .banner_subtitle a {
  font-size: 20px;
  word-break: keep-all;
}
#product_page1 .product_page_product_nav {
  width: 100%;
  height: 10%;
  background-color: rgba(39, 17, 0, 0.47);
  padding: 10px 30px;
}
#product_page1 .product_page_product_nav .nav_wrap {
  display: flex;
  justify-content: center;
}
#product_page1 .product_page_product_nav .nav_wrap ul {
  display: flex;
  flex-direction: row;
  margin-top: 0.5%;
  width: 100%;
}
#product_page1 .product_page_product_nav .nav_wrap ul li {
  margin-right: 3%;
}
#product_page1 .product_page_product_nav .nav_wrap ul li a {
  color: #fff;
  font-size: 20px;
  position: relative;
}
#product_page1 .product_page_product_nav .nav_wrap ul li a::before {
  content: "";
  width: 0%;
  height: 2px;
  background: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.3s;
}
#product_page1 .product_page_product_nav .nav_wrap ul li a:hover::before {
  width: 100%;
}
#product_page1 .product_page_search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 400px;
  margin-top: 45px;
  padding: 0 30px;
}
#product_page1 .product_page_search h3 {
  font-size: 24px;
  font-weight: 600;
  color: #383838;
  margin-bottom: 10px;
}
#product_page1 .product_page_search .product_page_search_product {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
#product_page1 .product_page_search .product_page_search_product a {
  position: relative;
  width: 20%;
  height: 100%;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  z-index: 0;
  padding: 1%;
  margin-top: 1%;
}
#product_page1 .product_page_search .product_page_search_product a img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  padding: 1%;
  filter: brightness(0.7);
  transition: 0.3s;
}
#product_page1 .product_page_search .product_page_search_product a img:hover {
  filter: brightness(1);
}

/*product_page2*/
#product_page2 {
  width: 100%;
  padding: 0 30px;
}
#product_page2 .product_page2_ad {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 5% 0;
}
#product_page2 .product_page2_ad img {
  width: 65%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right;
     object-position: right;
}
#product_page2 .product_page2_ad .product_page_ad_text {
  width: 31%;
}
#product_page2 .product_page2_ad .product_page_ad_text h3 {
  font-size: 30px;
}
#product_page2 .product_page2_ad .product_page_ad_text p {
  padding-top: 2%;
  line-height: 2rem;
  font-size: 20px;
  word-break: keep-all;
}

/*product_page3*/
#product_page3 {
  width: 100%;
  height: 500px;
  padding: 0 30px;
}
#product_page3 .product_page_ad_prduct {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  text-align: center;
  width: 100%;
  height: 100%;
}
#product_page3 .product_page_ad_prduct ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#product_page3 .product_page_ad_prduct ul li {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 32%;
  height: 100%;
  color: #fff;
  background: #e7ddc9;
}
#product_page3 .product_page_ad_prduct ul li a {
  width: 100%;
  height: 76%;
  color: #fff;
  background: rgba(39, 17, 0, 0.47);
  padding: 10px;
}
#product_page3 .product_page_ad_prduct ul li a img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 78%;
}
#product_page3 .product_page_ad_prduct ul li .over {
  display: none;
  width: 100%;
  height: 23%;
  background: rgba(39, 17, 0, 0.47);
}
#product_page3 .product_page_ad_prduct ul li .over p {
  margin-bottom: 2%;
}
#product_page3 .product_page_ad_prduct ul li .over .button {
  width: 100%;
  height: 40%;
}
#product_page3 .product_page_ad_prduct ul li .over .button button {
  border: none;
  width: 100%;
  height: 100%;
  background: #222;
  color: #fff;
  font-size: 16px;
}
#product_page3 .product_page_ad_prduct ul li .over .button button:nth-of-type(1) {
  margin-top: 1%;
  border-bottom: 1px solid gray;
}

.name {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 1%;
}

.info {
  font-weight: normal;
  font-size: 16px;
  color: #dfdfdf;
  margin-bottom: 2.5%;
}

.price {
  font-weight: 500;
  font-size: 20px;
}

/*product_page4*/
#product_page4 {
  flex-direction: column;
  align-items: center;
  padding: 5% 30px 0 30px;
}
#product_page4 .product_page_seasonal {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 500px;
  margin-bottom: 0;
}
#product_page4 .product_page_seasonal .product_page_seasonal_text {
  width: 34%;
  padding-right: 20px;
}
#product_page4 .product_page_seasonal .product_page_seasonal_text h3 {
  font-size: 30px;
  padding-bottom: 2%;
}
#product_page4 .product_page_seasonal .product_page_seasonal_text p {
  font-size: 20px;
  line-height: 1.8em;
  word-break: keep-all;
}
#product_page4 .product_page_seasonal .product_page_seasonal_product {
  width: 66%;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  height: 100%;
}
#product_page4 .product_page_seasonal .product_page_seasonal_product ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 100%;
}
#product_page4 .product_page_seasonal .product_page_seasonal_product ul li {
  width: 48.5%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #fff;
  background: #e7ddc9;
}
#product_page4 .product_page_seasonal .product_page_seasonal_product ul li a {
  width: 100%;
  height: 75%;
  color: #fff;
  background: rgba(39, 17, 0, 0.47);
  padding-bottom: 20px;
}
#product_page4 .product_page_seasonal .product_page_seasonal_product ul li a img {
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 5%;
  width: 80%;
  height: 70%;
}
#product_page4 .product_page_seasonal .product_page_seasonal_product ul li .over {
  display: none;
  width: 100%;
  height: 21%;
  background: rgba(39, 17, 0, 0.47);
}
#product_page4 .product_page_seasonal .product_page_seasonal_product ul li .over p {
  margin-bottom: 2%;
  height: 20%;
}
#product_page4 .product_page_seasonal .product_page_seasonal_product ul li .over p input {
  cursor: pointer;
}
#product_page4 .product_page_seasonal .product_page_seasonal_product ul li .over .button {
  width: 100%;
  height: 43%;
}
#product_page4 .product_page_seasonal .product_page_seasonal_product ul li .over .button button {
  border: none;
  width: 100%;
  height: 100%;
  background: #222;
  color: #fff;
  font-size: 16px;
}
#product_page4 .product_page_seasonal .product_page_seasonal_product ul li .over .button button:nth-of-type(1) {
  margin-top: 1%;
  border-bottom: 1px solid gray;
}
#product_page4 .page_under {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 100%;
}
#product_page4 .page_under .product_page_recommend_btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25%;
  padding: 10% 0;
}
#product_page4 .page_under .product_page_recommend_btn h3 {
  width: 100%;
  font-size: 30px;
  padding-bottom: 2%;
}
#product_page4 .page_under .product_page_recommend_btn a {
  margin-top: 3%;
  padding: 4%;
  width: 100%;
  border: 1px solid #383838;
  color: #383838;
  font-size: 20px;
  font-weight: 500;
  transition: 0.3s;
  display: block;
}
#product_page4 .page_under .product_page_recommend_btn a::after {
  content: "";
  display: block;
  background: url(../img/common/arrow_bk.png) center center/contain no-repeat;
  width: 20px;
  height: 10px;
  float: right;
  margin-top: 6px;
}
#product_page4 .page_under .product_page_recommend_btn a:hover {
  opacity: 0.6;
}
#product_page4 .page_under .product_page_quotation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 14%;
  width: 55%;
  height: 40%;
  font-weight: 600;
  color: #717171;
  font-size: 24px;
}
#product_page4 .page_under .product_page_quotation b {
  font-size: 32px;
  padding: 1%;
}

footer {
  width: 100%;
  background: #222;
}
footer .footer_inner {
  width: 100%;
  height: 100%;
  padding: 10px 20px;
}
footer .footer_inner .footer_contents {
  display: grid;
  grid-template-columns: repeat(4, 1fr) 2fr;
  grid-template-rows: 1fr;
  grid-gap: 10px;
  border-bottom: 1px solid #c6c1c1;
  padding: 10px 10px;
}
footer .footer_inner .footer_contents .footer_content {
  width: 95%;
}
footer .footer_inner .footer_contents .footer_content h3 {
  font-size: 20px;
  color: #c6c1c1;
  margin-bottom: 10px;
}
footer .footer_inner .footer_contents .footer_content p {
  color: #b8b8b8;
  font-size: 14px;
  line-height: 1.3rem;
  border-top: 1px solid #c6c1c1;
  padding: 10px 0px;
}
footer .footer_inner .footer_contents .footer_content p span {
  display: block;
  margin-bottom: 5px;
}
footer .footer_inner > span {
  display: block;
  margin: 10px 0;
  color: #b8b8b8;
  font-size: 16px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .login_modal.loginShow {
    width: 550px;
    height: 700px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .gift_top_box {
    width: 100%;
  }
  header nav .logo {
    width: 85px;
  }
  header nav .logo img {
    width: 100%;
  }
  header nav .gnb li:last-child .gnb_detail_box .gnb_detail_box_inner .gnb_detail_list ul:nth-of-type(1) li:first-child {
    padding-bottom: 80px;
  }
  header nav .gnb li .gnb_detail_box .gnb_detail_box_inner {
    gap: 40px;
  }
  header nav .gnb li .gnb_detail_box .gnb_detail_box_inner img {
    width: 200px;
  }
  header nav .gnb li .gnb_detail_box .gnb_detail_box_inner .gnb_detail_list {
    padding: 20px;
  }
  header nav .gnb li .gnb_detail_box .gnb_detail_box_inner .gnb_detail_list ul {
    flex: 1;
  }
  header nav .gnb li .gnb_detail_box .gnb_detail_box_inner .gnb_detail_list ul li {
    line-height: 1.7rem;
  }
  header nav .gnb li .gnb_detail_box .gnb_detail_box_inner .gnb_detail_list ul li a {
    font-size: 16px;
  }
  .query_version .mini_ask .fixed_side_icon {
    width: 45px;
    height: 45px;
  }
  #product_page1 .product_page_banner img {
    height: 350px;
  }
  #product_page1 .product_page_banner .banner_text {
    width: 50%;
    left: 5%;
  }
  #product_page1 .product_page_banner .banner_text .banner_title {
    font-size: 20px;
  }
  #product_page1 .product_page_banner .banner_text .banner_title .banner_subtitle {
    margin-top: 4%;
    line-height: 2rem;
  }
  #product_page1 .product_page_banner .banner_text .banner_title .banner_subtitle a {
    font-size: 16px;
    word-break: keep-all;
  }
  #product_page1 .product_page_product_nav {
    padding: 5px 30px;
  }
  #product_page1 .product_page_product_nav .nav_wrap ul li {
    margin-right: 3%;
  }
  #product_page1 .product_page_product_nav .nav_wrap ul li a {
    color: #fff;
    font-size: 17px;
    position: relative;
  }
  #product_page1 .product_page_product_nav .nav_wrap ul li a::before {
    content: "";
    width: 0%;
    height: 2px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.3s;
  }
  #product_page1 .product_page_product_nav .nav_wrap ul li a:hover::before {
    width: 100%;
  }
  #product_page1 .product_page_search {
    height: 270px;
  }
  #product_page2 {
    justify-content: center;
  }
  #product_page2 .product_page2_ad {
    margin-top: 10%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #product_page2 .product_page2_ad img {
    width: 100%;
  }
  #product_page2 .product_page2_ad .product_page_ad_text {
    margin-top: 3%;
    width: 100%;
  }
  #product_page3 {
    height: 400px;
    margin-top: 0;
  }
  #product_page3 .product_page_ad_prduct {
    justify-content: center;
    width: 100%;
  }
  #product_page3 .product_page_ad_prduct ul {
    width: 100%;
  }
  #product_page3 .product_page_ad_prduct ul li {
    width: 32%;
  }
  #product_page3 .product_page_ad_prduct ul li a {
    height: 68%;
  }
  #product_page3 .product_page_ad_prduct ul li a img {
    width: 100%;
    height: 50%;
  }
  #product_page3 .product_page_ad_prduct ul li .over {
    height: 30%;
  }
  #product_page4 {
    margin-top: 20%;
    border: 1px;
  }
  #product_page4 .product_page_seasonal {
    flex-direction: column;
    justify-content: center;
    margin-top: 0;
  }
  #product_page4 .product_page_seasonal .product_page_seasonal_text {
    width: 100%;
    margin-bottom: 5%;
  }
  #product_page4 .product_page_seasonal .product_page_seasonal_product {
    width: 100%;
  }
  #product_page4 .product_page_seasonal .product_page_seasonal_product ul li {
    width: 49%;
  }
  #product_page4 .page_under {
    margin-top: 7%;
    flex-direction: column;
  }
  #product_page4 .page_under .product_page_recommend_btn {
    width: 100%;
    display: flex;
  }
  #product_page4 .page_under .product_page_recommend_btn .help_btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #product_page4 .page_under .product_page_recommend_btn .help_btn a {
    width: 49%;
    padding: 2%;
  }
  #product_page4 .page_under .product_page_quotation {
    padding-bottom: 5%;
    margin-left: 0;
    width: 100%;
  }
  .query_version .fixed_side_icon {
    z-index: 99;
  }
  .query_version .mini_ask.show {
    width: 360px;
    height: 570px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .query_version .mini_ask.show p {
    font-size: 14px;
    line-height: 1.3em;
    margin-bottom: 5px;
  }
  .query_version .mini_ask.show .mini_ask_form label {
    font-size: 16px;
  }
  .query_version .mini_ask.show .mini_ask_form input,
  .query_version .mini_ask.show .mini_ask_form textarea {
    padding: 8px;
  }
  .query_version .mini_ask.show .mini_ask_form textarea {
    height: 150px;
  }
  footer .footer_inner .footer_contents .footer_content h3 {
    font-size: 16px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .login_modal.loginShow {
    display: block;
    width: 360px;
    height: 570px;
    transform: translate(-50%, -45%);
    z-index: 99999;
  }
  .login_modal.loginShow .login_inner {
    gap: 20px;
    padding: 30px;
  }
  .login_modal.loginShow .login_inner h1 {
    font-size: 30px;
  }
  .login_modal.loginShow .login_inner form {
    gap: 10px;
  }
  .login_modal.loginShow .login_inner form > span {
    display: block;
    text-align: right;
    margin-bottom: 20px;
  }
  .login_modal.loginShow .login_inner p {
    font-size: 14px;
    color: #666;
    line-height: 1.3em;
  }
  header .gift_top h4 {
    font-size: 12px;
    text-align: center;
  }
  header .gift_top h4::after {
    margin-left: 5px;
  }
  header nav {
    width: 100%;
    z-index: 2;
  }
  header nav .logo {
    z-index: 99;
    margin-top: 5px;
    margin-left: 2%;
  }
  header nav .logo img {
    width: 70px;
  }
  header nav .gnb {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    z-index: 2;
    display: none;
  }
  header nav .gnb a {
    padding: 2%;
  }
  header nav .gnb_right {
    width: 100%;
    position: absolute;
    right: 2%;
    z-index: 99;
  }
  header nav .gnb_right li a {
    color: #383838;
  }
  header nav .gnb_right .toggle {
    display: block;
    width: 23px;
    height: 13px;
    position: relative;
    margin-right: 10px;
  }
  header nav .gnb_right .toggle span {
    display: block;
    width: 100%;
    height: 2px;
    background: #222;
    position: absolute;
    transition: all 0.3s;
  }
  header nav .gnb_right .toggle span:nth-child(1) {
    top: 0px;
  }
  header nav .gnb_right .toggle span:nth-child(2) {
    bottom: 0px;
  }
  header nav .gnb_right .active span:nth-child(1) {
    top: 50%;
    transform: rotate(45deg);
  }
  header nav .gnb_right .active span:nth-child(2) {
    top: 50%;
    transform: rotate(-45deg);
  }
  .container.removeContainer {
    display: none;
  }
  .query_version .fixed_side_icon {
    z-index: 99;
  }
  .query_version .mini_ask.show {
    width: 400px;
    height: 550px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .query_version .mini_ask.show p {
    font-size: 14px;
    line-height: 1.3em;
    margin-bottom: 5px;
  }
  .query_version .mini_ask.show .mini_ask_form label {
    font-size: 16px;
  }
  .query_version .mini_ask.show .mini_ask_form input,
  .query_version .mini_ask.show .mini_ask_form textarea {
    padding: 8px;
  }
  .query_version .mini_ask.show .mini_ask_form textarea {
    height: 150px;
  }
  .gift_top.removeGiftTop {
    height: 0%;
    opacity: 0;
  }
  .query_version .fixed_side_icon {
    z-index: 99;
  }
  .query_version .mini_ask.show {
    width: 360px;
    height: 570px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .query_version .mini_ask.show p {
    font-size: 14px;
    line-height: 1.3em;
    margin-bottom: 5px;
  }
  .query_version .mini_ask.show .mini_ask_form label {
    font-size: 16px;
  }
  .query_version .mini_ask.show .mini_ask_form input,
  .query_version .mini_ask.show .mini_ask_form textarea {
    padding: 8px;
  }
  .query_version .mini_ask.show .mini_ask_form textarea {
    height: 150px;
  }
  .gift_top_box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-left: -100%;
    height: 180vh;
    background: #e7ddc9;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    z-index: 99999;
    transition: all 0.5s;
  }
  .gift_top_box div {
    padding: 20px 0;
    border-bottom: 1px solid gray;
    width: 90%;
  }
  .gift_top_box div span {
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
  }
  .gift_top_box div:nth-child(1) {
    height: 100px;
  }
  .gift_top_box div:nth-child(1) .fas {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
  }
  .gift_top_box div:nth-child(2) {
    height: 160px;
  }
  .gift_top_box div:nth-child(2) p {
    text-align: left;
    display: flex;
    justify-content: space-between;
    color: rgb(100, 99, 99);
  }
  .gift_top_box div:nth-child(2) p > span {
    font-size: 16px;
  }
  .gift_top_box div:nth-child(2) p:nth-of-type(2) {
    margin-top: 40px;
  }
  .gift_top_box div:nth-child(3) {
    border: none;
  }
  .gift_top_box .gift_top_list section {
    width: 100%;
    height: 190px;
    padding: 20px 0;
    border-bottom: 1px solid gray;
  }
  .gift_top_box .gift_top_list section span {
    font-size: 20px;
    display: block;
    margin-bottom: 30px;
  }
  .gift_top_box .gift_top_list section p {
    color: rgb(100, 99, 99);
  }
  .gift_top_box.show {
    margin-left: 0%;
  }
  #nav_detail_list {
    display: none;
  }
  #mobile_gnb_list {
    display: none;
    position: absolute;
    top: -50px;
    left: 0;
    opacity: 0.5;
    transition: all 1s;
  }
  #mobile_gnb_list.showModalGnb {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 130vh;
    top: 0;
    z-index: 6;
    opacity: 1;
    background: #fffef2;
    overflow: hidden;
  }
  #mobile_gnb_list.showModalGnb .modal_top_gnb_list {
    order: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 90px;
  }
  #mobile_gnb_list.showModalGnb .modal_top_gnb_list > li {
    width: 100%;
    padding: 17px 30px;
    border-bottom: 1px solid #383838;
  }
  #mobile_gnb_list.showModalGnb .modal_top_gnb_list > li:first-child {
    border-top: 1px solid #383838;
  }
  #mobile_gnb_list.showModalGnb .modal_top_gnb_list > li > a {
    color: #383838;
    font-size: 20px;
  }
  #mobile_gnb_list.showModalGnb .gnb_list_bottom {
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 26px;
  }
  #mobile_gnb_list.showModalGnb .gnb_list_bottom .modal_bottom_mini_list {
    order: 1;
    width: 100%;
    height: 150px;
    margin-bottom: 15px;
  }
  #mobile_gnb_list.showModalGnb .gnb_list_bottom .modal_bottom_mini_list > li {
    display: inline-block;
    width: 49%;
    padding: 10px 0;
  }
  #mobile_gnb_list.showModalGnb .gnb_list_bottom .modal_bottom_mini_list > li > a {
    position: relative;
    font-size: 20px;
    color: #666;
  }
  #mobile_gnb_list.showModalGnb .gnb_list_bottom .modal_bottom_mini_list > li > a::before {
    content: "";
    width: 0%;
    height: 1px;
    background: #383838;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s;
  }
  #mobile_gnb_list.showModalGnb .gnb_list_bottom .modal_bottom_mini_list > li > a:hover::before {
    width: 100%;
  }
  #mobile_gnb_list.showModalGnb .gnb_list_bottom figure {
    order: 2;
    width: 100%;
    height: 250px;
    padding-left: 10px;
  }
  #mobile_gnb_list.showModalGnb .gnb_list_bottom figure img {
    width: 90%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  #mobile_gnb_list.showModalGnb .gnb_list_bottom figcaption {
    order: 3;
    padding: 5px 0 0 20px;
  }
  #mobile_gnb_list.showModalGnb .gnb_list_bottom figcaption span {
    display: block;
    margin-bottom: 10px;
  }
  #mobile_gnb_list.showModalGnb .gnb_list_bottom figcaption span a {
    font-size: 20px;
    color: #666;
  }
  #mobile_gnb_list.showModalGnb .gnb_list_bottom figcaption h3 {
    font-size: 24px;
    font-weight: normal;
    position: relative;
  }
  #mobile_gnb_list.showModalGnb .gnb_list_bottom figcaption h3::before {
    content: "";
    width: 0%;
    height: 1px;
    background: #383838;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s;
  }
  #mobile_gnb_list.showModalGnb .gnb_list_bottom figcaption h3:hover::before {
    width: 100%;
  }
  #mobile_gnb_list {
    display: none;
    position: absolute;
    top: -50px;
    left: 0;
    opacity: 0.5;
    transition: all 1s;
  }
  #mobile_gnb_list.showModalGnb {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 130vh;
    top: 0;
    z-index: 8;
    opacity: 1;
    background: #fffef2;
    overflow: hidden;
  }
  #mobile_gnb_list.showModalGnb .modal_top_gnb_list {
    order: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 90px;
  }
  #mobile_gnb_list.showModalGnb .modal_top_gnb_list > li {
    width: 100%;
    padding: 17px 30px;
    border-bottom: 1px solid #383838;
  }
  #mobile_gnb_list.showModalGnb .modal_top_gnb_list > li:first-child {
    border-top: 1px solid #383838;
  }
  #mobile_gnb_list.showModalGnb .modal_top_gnb_list > li > a {
    color: #383838;
    font-size: 20px;
  }
  #mobile_gnb_list.showModalGnb .gnb_list_bottom {
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 26px;
  }
  #mobile_gnb_list.showModalGnb .gnb_list_bottom .modal_bottom_mini_list {
    order: 1;
    width: 100%;
    height: 150px;
    margin-bottom: 15px;
  }
  #mobile_gnb_list.showModalGnb .gnb_list_bottom .modal_bottom_mini_list > li {
    display: inline-block;
    width: 49%;
    padding: 10px 0;
  }
  #mobile_gnb_list.showModalGnb .gnb_list_bottom .modal_bottom_mini_list > li > a {
    position: relative;
    font-size: 20px;
    color: #666;
  }
  #mobile_gnb_list.showModalGnb .gnb_list_bottom .modal_bottom_mini_list > li > a::before {
    content: "";
    width: 0%;
    height: 1px;
    background: #383838;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s;
  }
  #mobile_gnb_list.showModalGnb .gnb_list_bottom .modal_bottom_mini_list > li > a:hover::before {
    width: 100%;
  }
  #mobile_gnb_list.showModalGnb .gnb_list_bottom figure {
    order: 2;
    width: 100%;
    height: 250px;
  }
  #mobile_gnb_list.showModalGnb .gnb_list_bottom figure img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  #mobile_gnb_list.showModalGnb .gnb_list_bottom figcaption {
    order: 3;
    padding: 5px 0 0 20px;
  }
  #mobile_gnb_list.showModalGnb .gnb_list_bottom figcaption span {
    display: block;
    margin-bottom: 10px;
  }
  #mobile_gnb_list.showModalGnb .gnb_list_bottom figcaption span a {
    font-size: 20px;
    color: #666;
  }
  #mobile_gnb_list.showModalGnb .gnb_list_bottom figcaption h3 {
    font-size: 24px;
    font-weight: normal;
    position: relative;
  }
  #mobile_gnb_list.showModalGnb .gnb_list_bottom figcaption h3::before {
    content: "";
    width: 0%;
    height: 1px;
    background: #383838;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s;
  }
  #mobile_gnb_list.showModalGnb .gnb_list_bottom figcaption h3:hover::before {
    width: 100%;
  }
  .query_version .fixed_side_icon {
    z-index: 99;
  }
  .query_version .mini_ask.show {
    width: 360px;
    height: 560px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .query_version .mini_ask.show p {
    font-size: 14px;
    line-height: 1.3em;
    margin-bottom: 5px;
  }
  .query_version .mini_ask.show .mini_ask_form label {
    font-size: 16px;
  }
  .query_version .mini_ask.show .mini_ask_form input,
  .query_version .mini_ask.show .mini_ask_form textarea {
    padding: 8px;
  }
  .query_version .mini_ask.show .mini_ask_form textarea {
    height: 150px;
  }
  /*main*/
  /*section1===========================================*/
  #product_page1 {
    height: 100%;
  }
  #product_page1 .product_page_banner {
    position: relative;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
  }
  #product_page1 .product_page_banner img {
    height: 240px;
  }
  #product_page1 .product_page_banner .banner_text {
    width: 70%;
    left: 20px;
  }
  #product_page1 .product_page_banner .banner_text .banner_title {
    padding-top: 4%;
    font-size: 16px;
    width: 100%;
  }
  #product_page1 .product_page_banner .banner_text .banner_subtitle {
    font-size: 14px;
    margin-top: 4%;
    width: 100%;
  }
  #product_page1 .product_page_product_nav .nav_wrap ul {
    display: flex;
    justify-content: space-between;
  }
  #product_page1 .product_page_product_nav .nav_wrap ul li a {
    font-size: 14px;
  }
  #product_page1 .product_page_search {
    margin-top: 5%;
    width: 100%;
    height: 160px;
    padding: 0 20px;
  }
  #product_page1 .product_page_search h3 {
    font-size: 20px;
  }
  #product_page1 .product_page_search .product_page_search_product {
    display: flex;
    width: 100%;
    height: 100%;
  }
  #product_page1 .product_page_search .product_page_search_product a {
    font-size: 20px;
    width: 40%;
    height: 100%;
  }
  #product_page1 .product_page_search .product_page_search_product a img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  /*product_page2*/
  #product_page2 {
    height: 70%;
    padding: 0 20px;
  }
  #product_page2 .product_page2_ad {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #product_page2 .product_page2_ad img {
    margin-top: 0;
    height: 60%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: right;
       object-position: right;
  }
  #product_page2 .product_page2_ad .product_page_ad_text {
    width: 100%;
  }
  #product_page2 .product_page2_ad .product_page_ad_text h3 {
    margin-top: 5%;
    font-size: 20px;
  }
  #product_page2 .product_page2_ad .product_page_ad_text p {
    font-size: 16px;
  }
  /*product_page3*/
  #product_page3 {
    padding: 0 20px;
    height: auto;
  }
  #product_page3 .product_page_ad_prduct {
    height: 100%;
  }
  #product_page3 .product_page_ad_prduct ul {
    justify-content: space-around;
    flex-direction: column;
    gap: 20px;
  }
  #product_page3 .product_page_ad_prduct ul li {
    width: 100%;
    background: rgba(39, 17, 0, 0.47);
  }
  #product_page3 .product_page_ad_prduct ul li a {
    background: none;
  }
  #product_page3 .product_page_ad_prduct ul li a img {
    width: 75%;
  }
  #product_page3 .product_page_ad_prduct ul li .over {
    display: block;
    background: none;
  }
  #product_page3 .product_page_ad_prduct ul li .over p {
    margin-bottom: 3%;
    font-size: 14px;
  }
  #product_page3 .product_page_ad_prduct ul li .over .button button {
    font-size: 14px;
    padding: 10px 0;
  }
  .name {
    font-size: 16px;
    margin-bottom: 0.5%;
  }
  .info {
    font-size: 14px;
    margin-bottom: 1%;
  }
  .price {
    font-weight: 500;
    font-size: 16px;
  }
  /*product_page4*/
  #product_page4 {
    margin-top: 50px;
    padding: 0 20px;
  }
  #product_page4 .product_page_seasonal {
    margin-top: 3%;
    height: 100%;
    flex-direction: column;
  }
  #product_page4 .product_page_seasonal .product_page_seasonal_text {
    width: 100%;
    padding-right: 0;
    margin-bottom: 40px;
  }
  #product_page4 .product_page_seasonal .product_page_seasonal_text h3 {
    margin-top: 2%;
    font-size: 20px;
  }
  #product_page4 .product_page_seasonal .product_page_seasonal_text p {
    font-size: 16px;
  }
  #product_page4 .product_page_seasonal .product_page_seasonal_product {
    width: 100%;
  }
  #product_page4 .product_page_seasonal .product_page_seasonal_product ul {
    height: 100%;
    justify-content: space-around;
    flex-direction: column;
    gap: 20px;
  }
  #product_page4 .product_page_seasonal .product_page_seasonal_product ul li {
    width: 100%;
    height: 46%;
    background: rgba(39, 17, 0, 0.47);
  }
  #product_page4 .product_page_seasonal .product_page_seasonal_product ul li a {
    height: 80%;
    background: none;
  }
  #product_page4 .product_page_seasonal .product_page_seasonal_product ul li a img {
    margin-top: 1%;
    width: 40%;
    height: 65%;
  }
  #product_page4 .product_page_seasonal .product_page_seasonal_product ul li .over {
    display: block;
    margin-top: 0%;
    height: 25%;
    background: none;
  }
  #product_page4 .product_page_seasonal .product_page_seasonal_product ul li .over p {
    margin-bottom: 2%;
    font-size: 14px;
  }
  #product_page4 .product_page_seasonal .product_page_seasonal_product ul li .over .button button {
    font-size: 14px;
    padding: 10px;
  }
  #product_page4 .page_under {
    margin-top: 0;
    flex-direction: column;
  }
  #product_page4 .page_under .product_page_recommend_btn {
    width: 100%;
  }
  #product_page4 .page_under .product_page_recommend_btn h3 {
    margin-top: 3%;
    padding-bottom: 1%;
    font-size: 20px;
  }
  #product_page4 .page_under .product_page_recommend_btn a {
    margin-top: 1%;
    font-size: 16px;
  }
  #product_page4 .page_under .product_page_quotation {
    margin-left: 0;
    margin-bottom: 20%;
    width: 100%;
    font-size: 14px;
  }
  #product_page4 .page_under .product_page_quotation b {
    font-size: 16px;
  }
  footer .footer_inner .footer_contents {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border-bottom: none;
  }
  footer .footer_inner .footer_contents .footer_content:last-child {
    width: 95%;
    grid-column: 1/3;
    padding-top: 15px;
  }
  footer .footer_inner .footer_contents .footer_content:last-child p {
    line-height: 1.7rem;
  }
  footer .footer_inner > span {
    display: block;
    color: #b8b8b8;
    font-size: 20px;
    margin: 10px 0;
  }
}/*# sourceMappingURL=product-style.css.map */